@model MyStik.TimeTable.Data.Course
@{
    ViewBag.Title = "Lehrveranstaltung kopieren";
}


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lehrveranstaltung teilen / zusammenlegen</h5>
                <p class="card-text">
                    Im aktuellen Semester eine weitere Lehrveranstaltung anlegen. Teilnahmelisten können mitgenommen bzw. nach bestimmten Kriterien aufgeteilt werden.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lehrveranstaltung planen</h5>
                <p class="card-text">
                    Für zukünftiges Semester Lehrveranstaltung anlegen bzw. fortschreiben. Angaben zu Modulem, Kohorten, Platzkontingenten werdem übernommen.
                </p>
            </div>
        </div>
    </div>
</div>

