@using MyStik.TimeTable.Data
@using MyStik.TimeTable.DataServices
@model MyStik.TimeTable.Data.Course
@{
    ViewBag.Title = "Lehrveranstaltung kopieren";

    var semesterService = new SemesterService();

    var todaySemester = semesterService.GetSemester(DateTime.Today);
    var planingSemester = semesterService.GetNextSemester(todaySemester);
    var courseSemester = Model.Semester;
}


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fortschreibung</h5>
                <p class="card-text">Übertragung der Daten aus dem Semester <strong>@courseSemester.Name</strong> in das Planungssemester <strong>@planingSemester.Name</strong></p>
                <a href="@Url.Action("Planning", new {id = Model.Id})" class="btn btn-outline-primary">weiter <i class="bi bi-chevron-double-right"></i></a>
            </div>
        </div>
    </div>
</div>

