@model ICollection<MyStik.TimeTable.Data.OrganiserMember>
@{
    ViewBag.Title = "Lehrveranstaltung anlegen";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <h4>Achtung: Änderung der Menüführung</h4>
            <div>Das Anlegen von Lehrveranstaltungen erfolt über die Workflows der jeweiligen Fakultät.</div>
            <ul>
                @foreach (var member in Model)
                {
                    <li><a href="@Url.Action("Faculty", "University", new {id=member.Organiser.Id})">@member.Organiser.ShortName</a></li>
                }
            </ul>
            <div>Die Historie der eigenen Lehrveranstaltungen ist über das persönliche <a href="@Url.Action("Index", "Dashboard")">Dashboard</a> erreichbar.</div>
        </div>
    </div>
</div>
