@{
    ViewBag.Title = "Meine Forschung";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Meine Forschungsvorhaben</h4>
            </div>
            <div class="card-body">
                <p>Dieser Seite soll organisatorische Aspekte von Forschungsvorhaben addressieren. Z.B. die Suche nach SHKs, Ausschreibung von Abschlussarbeiten, Suche nach Kooperationspartnern.</p>
            </div>
        </div>
    </div>
</div>

