@{
    ViewBag.Title = "DescriptionChange";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Modulbeschreibung</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                    </div>
                </div>
                <div class="col-2">
                    <div class="row">
                        <a class="btn btn-outline-primary" href="#">Aktuelle Version ändern</a>
                        <p>Diese Version wurde bisher noch nicht veröffentlicht und kann daher geändert werden.</p>
                    </div>
                    <div class="row">
                        <a class="btn btn-outline-primary" href="#">Neue Version anlegen</a>
                        <p>Für das Semester xxxx eine neue Version anlegen.</p>
                    </div>
                    <div class="row">
                        <a class="btn btn-outline-primary" href="#">Historie</a>
                        <p>Liste aller Versionen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


