
@{
    ViewBag.Title = "Index";
}

<h2>Willkommen im Fitnesstudio</h2>

<p>Hier können Lehrende Fragenpools aufbauen und sinnvoll verwalten. Für Studierende stehen Apps zur Verfügung, z.B. für S-Bahn Lernen, Live-Quizzes, Lerngruppen und Prüfungsvorbereitung</p>

<p>Ein Ersatz für moodle? Keinesfalls! Vielmehr eine sinnvolle Ergänzung, z.B. Export von Fragen im moodle Format zum vereinfachten Aufbau von moodle-Tests.</p>

