
@{
    ViewBag.Title = "Anmeldung Lehrender";
}

<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <h4>Freischaltung für administrative Aufgaben:</h4>
            <p>Bitte an die Ansprechpartner der jeweiligen Fakultät (Sekretariat / Dekanat / Referat / Assistenz) wenden.</p>
        </div>
    </div>
</div>

