body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/* ausgeschaltet */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Größe der Überschrift für fullcalendar */
.fc-header-title h2 {
    font-size: 18px;
    white-space: normal !important;
}

.navbar-inverse {
  background-color: #919191;
  border-color: #080808;
}

.navbar-inverse .navbar-text {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

  .navbar-inverse .navbar-brand {
  color: #fff;
}
.bg-fillter-main {
  color: #fff;
  background-color: #fa6666;
}

.bg-fillter-admin {
  color: #fff;
  background-color: #47aba1;
}

.bg-fillter-events {
  color: #fff;
  background-color: #a56585;
}

.bg-fillter-cantine {
  color: #fff;
  background-color: #77bd90;
}

.bg-fillter-rooms {
  color: #fff;
  background-color: #feb151;
}

.bg-fillter-faculty {
  color: #fff;
  background-color: #78a3aa;
}

.bg-fillter-default {
  color: #000;
  background-color: #E1E1E1;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 8px;
}


