<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nine.wi.hm.edu</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://nine.wi.hm.edu:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>nine</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>NINE-Admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LogDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=MYSTIK;Initial Catalog=MyStik.LogDB;Integrated Security=False;User ID=nine-db;Password=nine-db" Name="Server=MYSTIK;Database=MyStik.LogDB;Integrated Security=False;User Id=nine-db;Password=nine-db" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyStik.TimeTable.Web.Models.LogDbContext, MyStik.TimeTable.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TimeTableDbContext" Order="4" Enabled="False">
          <Destination Path="Data Source=MYSTIK;Initial Catalog=MyStik.TimeTableDB;Integrated Security=False;User ID=nine-db;Password=nine-db" Name="Server=MYSTIK;Database=MyStik.TimeTableDB;Integrated Security=False;User Id=nine-db;Password=nine-db" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyStik.TimeTable.Data.TimeTableDbContext, MyStik.TimeTable.Data" MigrationConfiguration="MyStik.TimeTable.Data.Migrations.Configuration, MyStik.TimeTable.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=MYSTIK;Initial Catalog=MyStik.UserDB;Integrated Security=False;User ID=nine-db;Password=nine-db" Name="Server=MYSTIK;Database=MyStik.UserDB;Integrated Security=False;User Id=nine-db;Password=nine-db" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\UserDB.mdf;Initial Catalog=Dev.UserDB4;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\UserDB.mdf;Initial Catalog=Dev.UserDB4;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=MYSTIK;Database=MyStik.UserDB;Integrated Security=False;User Id=nine-db;Password=nine-db</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LogDbContext-Web.config Connection String">
      <ParameterValue>Server=MYSTIK;Database=MyStik.LogDB;Integrated Security=False;User Id=nine-db;Password=nine-db</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TimeTableDbContext-Web.config Connection String">
      <ParameterValue>Server=MYSTIK;Database=MyStik.TimeTableDB;Integrated Security=False;User Id=nine-db;Password=nine-db</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>