@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Data.ActivityOrganiser>

@{
    ViewBag.Title = "Lehrende";
}


<div class="row"  style="margin-bottom: 20px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4><i class="bi-person-rolodex"></i> Lehrende</h4>
            </div>
            <div class="list-group">
                <div class="list-group">
                    @foreach (var org in Model.OrderBy(x => x.ShortName))
                    {
                        <a href="@Url.Action("Organiser", new { id=org.Id})" class="list-group-item list-group-item-action">
                            <h5>@Html.FacultyLabel(org) @org.Name</h5>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>










