
@{
    ViewBag.Title = "Fehler";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <h4>Eingabe von Verfügbarkeiten erfordert Eintrag als Lehrende:r</h4>
        </div>
    </div>
</div>


