@model MyStik.TimeTable.Data.Event
<div class="note note-success">
    <p>Die Veranstaltung wurde erfolgreich angelegt. 
    Termine, Räume, Dozenten können <a href="@Url.Action("Admin", new {id=Model.Id})">hier</a> eingegeben werden</p>
</div>

