@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.HomeViewModel

@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Veranstaltungsverzeichnis";
}


<div class="@containerType">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-book"></i> Veranstaltungsverzeichnis nach Semestern</h4>
                </div>
                <div class="list-group">
                    @foreach (var sem in Model.ActiveSemester)
                    {
                        <a href="@Url.Action("Semester", new {semId = sem.Semester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading"><strong>@sem.Semester.Name</strong></h5>
                            <p class="list-group-item-text">
                                @foreach (var organiser in sem.Organisers.OrderBy(x => x.ShortName))
                                {
                                    @Html.FacultyLabel(organiser)
                                }

                            </p>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
