
@{
    ViewBag.Title = "Administration";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Index", "Courses")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-hashtag"></i></h4>
                    <h5>Semester</h5>
                </a>
            </div>
        </div>
    </div>
</div>
