@model MyStik.TimeTable.Data.ActivityOrganiser

@{
    ViewBag.Title = Resources.SubMenuCurrentNewsletter;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h1>@Resources.NewsletterHeading</h1>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewBag.FacultyList, new { @class = "form-control", onchange = "onFacultyChanged()" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="facultyNewsletterList">
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function() {
            $('#loading').hide();
            onFacultyChanged();
        });


        function onFacultyChanged() {
            var facultyId = $('#Id option:selected').val();

            $('#facultyNewsletterList').html('');
            $('#loading').show();
            $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("Faculty", "Newsletter")',
                data: {
                    facultyId: facultyId,
                },
                success: function(data, success, xhr) {
                    $('#facultyNewsletterList').html(data);
                    $('#loading').hide();
                },
                error: function(data, type, ex) {
                    alert("Fehler beim laden der Daten." + ex);
                    $('#loading').hide();
                }
            });
        }


    </script>
}

