
@{
    ViewBag.Title = "Bestätigung Stududent:in";
}

<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <h4>Bestätigung</h4>
            <p>Hiermit bestätige ich, dass ich als Student:in in einem Studiengang immatrikuliert bin und die im nächsten Schritt notwendigen Angaben zu meinem Studiengang wahrheitsgemäß machen werde.</p>
            <p>Dies erleichtert nicht nur mir, sondern auch allen Beteiligten an meinem Studiengang die Organisation.</p>
            <a href="@Url.Action("Curricula", "Subscription")" class="btn btn-outline-primary">
                Studiengang festlegen
            </a>
        </div>
    </div>
</div>

