
@{
    ViewBag.Title = "Bestätigung Stududent:in";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Studiengang wählen / Select Curricukum</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="alert alert-info">
                            <h5>Bestätigung</h5>
                            <p>Hiermit bestätige ich, dass ich als Student:in dem Studiengang immatrikuliert bin, den ich im nächsten Schritt angeben werde.</p>
                            <p>Dies erleichtert nicht nur mir, sondern auch allen Beteiligten an meinem Studiengang die Organisation.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="alert alert-info">
                            <h5>Confirmation</h5>
                            <p>Hereby I confirm that I am enrolled in the curriculum I will select in the next step.</p>
                            <p>This will make life easier for all of us.</p>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Curricula", "Subscription")" class="btn btn-outline-primary">
                    Studiengang wählen
                </a>
            </div>
        </div>
    </div>
</div>

