@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.SemesterViewModel
@{
    ViewBag.Title = "Studienbuch";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studienbuch</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Semester, (IEnumerable<SelectListItem>)ViewBag.SemesterList, new { @class = "form-control", onchange = "onSemesterChanged()" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="semProfile">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function() {
            onSemesterChanged();
        });


        function onSemesterChanged() {
            var group = $('#Semester option:selected').val();

            $('#semProfile').html('');
            $('#loading').show();
            $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("SemesterProfile", "StudyBook")',
                data: {
                    semGroupId: group,
                },
                success: function(data, success, xhr) {
                    $('#semProfile').html(data);
                    $('#loading').hide();
                },
                error: function(data, type, ex) {
                    alert("Fehler beim laden der Daten." + ex);
                    $('#loading').hide();
                }
            });
        }


    </script>
}



