@model ICollection<MyStik.TimeTable.Data.ItemLabel>


@if (Model.Any())
{

    <ul id="@ViewBag.ListName" class="list-group">
        @foreach (var module in Model)
        {
            
            <li id="@module.Id" class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                <label class="form-check-label" for="@module.Id">@module.Name</label>
            </li>
        }
    </ul>
}
else
{
    <div class="list-group-item">
        Keine Labels vorhanden
    </div>
}