@model ICollection<MyStik.TimeTable.Data.Course>

<div class="list-group">
    @foreach (var group in Model)
    {
        <a class="list-group-item list-group-item-action" href="@Url.Action("Details", "Course", new { id = group.Id })">
            <div class="card-title">@group.Name (@group.ShortName)
                @if (group.LabelSet != null)
                {
                    foreach (var label in group.LabelSet.ItemLabels)
                    {
                        <span class="badge bg-secondary">@label.Name</span>
                    }
                }
            </div>
        </a>
    }
</div>
