@model ICollection<MyStik.TimeTable.Data.ItemLabel>

<option value="@Guid.Empty">Ohne Label</option>
<option value="">Alle Label</option>

@foreach (var group in Model)
{
    <option value="@group.Id">@group.Name</option>
}