@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Vorlesungsverzeichnis";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Vorlesungsverzeichnis nach Semestern</h4>
            </div>
            <div class="list-group">
                @foreach (var sem in Model.ActiveSemester)
                {
                    if (sem.Organisers.Any())
                    {
                        <a href="@Url.Action("Semester", new {semId = sem.Semester.Id})" class="list-group-item list-group-item-action">
                            <h5 class="list-group-item-heading"><strong>@sem.Semester.Name</strong></h5>
                            <p class="list-group-item-text">
                                @foreach (var organiser in sem.Organisers.OrderBy(x => x.ShortName))
                                {
                                    @Html.FacultyLabel(organiser)
                                }

                            </p>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
