@model MyStik.TimeTable.Data.CurriculumGroup
@{
    ViewBag.Title = Model.Curriculum.ShortName + " - " + Model.Name;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studiengruppe @Model.Curriculum.ShortName - @Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("CreateModule")"><i class="fa fa-plus"></i> Anlegen</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditCurriculumGroup", new {id=Model.Id})"><i class="fa fa-cog"></i> Einstellungen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Module
                    </div>
                    <div class="actions">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







