@model MyStik.TimeTable.Web.Models.DashboardViewModel


<div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-building"></i>
                <span class="caption-subject bold uppercase"> Aktuelle Raumbelegung</span>
            </div>
            <div class="actions">
                <a href="@Url.Action("Index", "Reservation", null)" class="btn btn-circle btn-icon-only btn-default">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    <div class="portlet-body">
        <div class="list-group">
            <a href="@Url.Action("Free", "Room")" class="list-group-item">
                <span class="badge">@Model.AvailableRooms.Count</span>
                Aktuell freie Räume
            </a>
        </div>

    </div>
</div>

