@model MyStik.TimeTable.Web.Models.DashboardViewModel


<div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-university"></i>
                <span class="caption-subject bold uppercase"> Meine Hochschule</span>
            </div>
            <div class="actions">
            </div>
        </div>
    <div class="portlet-body">
        <div class="list-group">
            <a href="@Url.Action("Index", "Semester")" class="list-group-item">
                <span class="badge">@Model.Semester.StartCourses.Date.ToShortDateString() - @Model.Semester.EndCourses.Date.ToShortDateString()</span>
                Vorlesungszeit
            </a>
            <a href="https://www.hm.edu/studierende/mein_studium/verlauf/termine.de.html" class="list-group-item" target="_blank">Offizielle Termine der HM <i class="fa fa-external-link"></i></a>
        </div>

    </div>
</div>

