@model MyStik.TimeTable.Web.Models.DashboardViewModel


<div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="icon-graduation-cap font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> Titel</span>
            </div>
        </div>
    <div class="portlet-body">
    </div>
</div>

