
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fa fa-pencil"></i> Historie</h4>        
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <h5 class="list-group-item-heading">
                <a href="@Url.Action("Index", "StudyBook")">Zurückliegende Semester</a>
            </h5>
            <div class="list-group-item-text">
            </div>
        </div>
    </div>
</div>
