@model MyStik.TimeTable.Web.Models.DashboardViewModel


<div class="portlet portlet-sortable light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="icon-graduation-cap font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> Mein Status: GAST</span>
            </div>
        </div>
        <div class="portlet-body">
            <p>Als Gast kann ich mich nur in Sprechstunden eintragen.
                Für mehr muss ich nachweisen, dass ich an der HM auch studiere. 
                Dazu muss ich einmalig bestätigen, dass ich über eine hm.edu E-Mail verfüge.</p>

            <div id="portletMailConfirmed"></div>

            @using (Ajax.BeginForm("SendVerificationMail", "Dashboard", null,
                new AjaxOptions()
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "portletMailConfirmed",
                }, new { @class = "form-horizontal", @role = "form" }))
            {
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input name="hmemail" placeholder="hm.edu E-Mail Adresse"/>
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Mail senden</button>
            }
        </div>
</div>

