@model MyStik.TimeTable.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Meine Termine";
}

@section styles
{

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">
                Status Gast
            </h3>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_PortletStudentUpgrade", Model)
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            Alle Sprechstunden im @Model.Semester.Name
                        </div>
                        <div class="actions">
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="list-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</div>


@section scripts{
}
