
@{
    ViewBag.Title = "Systemadministration";
}

<h2>Was alles repariert werden muss</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Alle von Export auf WI 5 TEC G1 umhängen</h4>
            </div>
            <div class="panel-body">
                <p>Die bisherigen Namen aufteilen</p>
                @Html.ActionLink("go", "RepairGroups", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Doppeleinschreibungen entfernen", "RepairSubscriptions", null, new { @class = "btn btn-default" })
                @Html.ActionLink("IMT einfügen", "InsertIMT", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

