@model MyStik.TimeTable.Data.Alumnus
@{
    ViewBag.Title = "Einladung";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eingabe Kontaktdaten als Alumni</h5>
                    @using (Html.BeginForm(null, null, FormMethod.Post))
                    {

                    }
                </div>
            </div>
        </div>
    </div>




