@model MyStik.TimeTable.Web.Models.InvitationFileModel
@{
    ViewBag.Title = "Einladung";
}
<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studierende - Einladung</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Beschreibung</h4>
                </div>

                <div class="panel-body">
                    <p>
                        Studierende werden nach Abgabe und Benotung Ihrer Abschlussarbeit zu Alumni.
                        Dabei geben Sie i.d.R. ihre private E-Mail Adresse an.
                        Im System werden neue Benutzerkonten angelegt und als Alumni geführt.
                        Folgende Funktionen sollen später zur Verfügung stehen:
                    </p>
                    <ul>
                        <li>Konten verknüpfen (für Kons-Master)</li>
                        <li>Alumni-Netzwerk</li>
                        <li>Links zu Sozialen Netzwerken</li>
                    </ul>
                    <p>
                        Die Studierenden erhalten eine E-Mail. In dieser haben sie auch die Möglichkeit, die Einladung abzulehnen.
                        Das Benutzerkonto wird gelöscht, die Alumni-Information bleibt erhalten (Statistik)
                    </p>
                    <p>Ablauf:</p>
                    <ol>
                        <li>Datei auswählen und hochladen</li>
                        <li>Listen einträge kontrollieren</li>
                        <li>Einladungen versenden</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Schritt 1: Datei auswählen und hochladen</h4>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info ">
                        <strong>Erwartetes Format der Datei:</strong>
                        <p>CSV-Datei mit Trennzeichen ; sowie Kopfzeile. Aufbau der Spalten:</p>
                        <p>Name;Vorname;E-Mail;Studiengang;Abschlusssemester</p>
                    </div>

                    @using (Html.BeginForm("Invitation", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Datei mit Einladungsdaten</label>
                                <div class="col-md-10">
                                    <div>
                                        <input type="file" name="Attachments" id="Attachment1"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Hochladen" class="btn btn-default"/>
                                </div>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</div>




