
@{
    ViewBag.Title = "KeySent";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <p>Ein Zugangscode wurde an die Adresse <strong>@ViewBag.Email</strong> versendet.</p>
        </div>
    </div>
</div>

