@{
    ViewBag.Title = "Information_Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">

    <div class="jumbotron">
        <div class="pull-right"><img src="https://upload.wikimedia.org/wikipedia/de/thumb/e/e8/Hochschule_Muenchen_Logo.svg/320px-Hochschule_Muenchen_Logo.svg.png" alt="HS München" style="width:200px;height:90px;"> </div>
        <br>
        <h1>WI-Quest</h1>
        <h4>Informativer Bereich</h4>
    </div>
</div>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">

            <p>
                Diese kurze Zwischeninformation soll wichtige Aspekte zum Studium und Berufsbild des Wirtschaftsingenieurs (WI) skizzieren.
                Der Verband Deutscher Wirtschaftsingenieure schreibt dazu in seiner regelmäßig erscheinenden Berufsbilduntersuchung „Wirtschaftsingenieurwesen“:</p>
            <p>
                <i>
                    „Ziel des Wirtschaftsingenieurstudiums ist es, Absolventen zu befähigen, den vielfältigen Anforderungen der modernen Unternehmenswelt zu begegnen.
                    Das vermittelte umfängliche Wissen aus betriebs-, volks- und rechtswissenschaftlichen Inhalten einerseits sowie aus
                    ingenieurwissenschaftlichen Gebieten andererseits bildet die zwei starken Säulen des integrativen Konzepts der Wirtschaftsingenieurausbildung,
                    wobei ein Fundament an Grund- und Spezialfächern zu absolvieren ist.
                    Die dritte Säule der sogenannten Integrationsfächer ist dabei das verbindende Element, in dem Studienanteile der Mathematik sowie
                    die Aneignung von weiteren methodischen Werkzeugen ebenso in der Ausbildung enthalten sind wie eine bereichs- und disziplinübergreifende
                    Integration des Erlernten.“
                </i>
            </p>
            <p>
                Die Studieninhalte an der Hochschule München sind hierzu so strukturiert, dass in den ersten beiden Semestern überwiegend
                technische und naturwissenschaftliche Grundlagen, wie z.B. Technische Mechanik, Werkstofftechnik, Maschinenelmente, Physik, Mathematik
                unterrichtet werden. Integrations- und betriebswissenschaftliche Module sind vor allem in den Semestern drei bis sieben angesiedelt.
                Insgesamt ist das WI-Studium an der Hochschule eher technisch orientiert. Studierende erwerben den akademischen Grad „Bachelor of Engineering“.
            </p>
            <p>
                Wirtschaftsingenieure arbeiten also an der Verbindungsstelle zwischen Technik und Wirtschaft. Wo ein Ingenieur einzeln an der
                Optimierung von technischen Detailproblemen arbeitet und der Kaufmann die Ergebnisse der technischen Kompetenz wirtschaftlich bewertet
                oder auf einem aufnahmebereiten Markt absetzt, muss ein Wirtschaftsingenieur beide Aspekte gleichzeitig berücksichtigen.
                In vernetzten Wirtschaftssystemen ist diese Qualifikation zunehmend gefragt, um betriebsinterne und unternehmensübergreifende
                technisch-wirtschaftliche Prozesse zu gestalten, zu bewerten und zu managen.
            </p>
            <p>
                Die obig erwähnte Berufsbilduntersuchung ergab aus Sicht der Unternehmen folgende bevorzugte Einsatzfelder (die Reihenfolge entspricht der Bedeutung von hoch nach weniger hoch): Projektmanagement, Vertrieb, Controlling, Unternehmensleitung, Logistik/Transport/Verkehr, Produktion, Einkauf, Marketing, Consulting, Finanzwesen, Organisation, Forschung und Entwicklung, Informatik/IT, Sonstiges, Personalwesen. <br><br>
                In folgendem Kurzfilm stellt sich die Fakultät für Wirtschaftsingenieurwesen vor: <a href="https://vimeo.com/109558421">Kurzfilm</a>
            </p>
            <p>
                <a href="@Url.Action("Personal_Data", "Home", new {area = "Quest"})" class="btn btn-info btn-lg">Weiter &raquo;</a>
            </p>
        </div>
    </div>
</div>

