@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = "Semesterberichte " + Model.Organiser.ShortName;
}

@section styles
{
}

@section scripts
{
}

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wer unterrichtet was?</h5>
                    <p class="card-text">Lehrveranstaltungem mit Name, Anschrift der Lehrenden sowie Anzahl Eintragungen</p>
                    <p class="card-text">geeignet für die Organisation der Lehrevaluation</p>
                    <a href="@Url.Action("SemesterReport", new {id = Model.Semester.Id})" class="btn btn-outline-primary">Download .csv Datei</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wer unterrichtet wann?</h5>
                    <p class="card-text">Lehrveranstaltungem nach Tag und Lehrendem</p>
                    <p class="card-text">geeignet für die Abrechnung von Dozenturen</p>
                    <a href="@Url.Action("SemesterReport2", new {id = Model.Semester.Id})" class="btn btn-outline-primary">Download .csv Datei</a>
                </div>
            </div>
        </div>
    </div>
