@model WIQuest.Web.Data.User
<div class="row">

    <h1>Herzlichen Glückwunsch - Sie haben alle Fragen beantwortet</h1>

    <h4>Ihre Auswertung finden sie @Html.ActionLink("hier", "Evaluation", "Home", new {id = Model.Id}, null)</h4>


</div>