@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Web.Models.CurriculumViewModel

@{
    ViewBag.Title = "Einsatzplan";

    var db = new TimeTableDbContext();

    
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Einsatzplan</h5>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Dozent:in</th>
                    <th>LVs</th>
                </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>
</div>
