@{
    ViewBag.Title = "Login Failure";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Fehler beim Erstellen des Benutzerkontos</h4>
            </div>
            <div class="card-body">
                <div>Es kann kein Benutzerkonto zur E-Mail-Adresse @ViewBag.Email erstellt werden.</div>
                <div>Wenn ich mich bei NINE bereits mit dieser E-Mail-Adresse registriert haben, dann gehe ich wie folgt vor:</div>
                <ol>
                    <li>Ich melde mich über den <a href="https://nine.hm.edu/Account/Login">Login Dialog</a> mit meinem NINE-Account an.</li>
                    <li>Ich gehe zur Seite "Mein Benutzerkonto"</li>
                    <li>Dort rufe ich unter den Login Optionen "HM User Account" die Funktion "Connect" auf.</li>
                </ol>
                <div>In allen anderen Fällen wende ich mich an den <a href="mailto:support-nine@hm.edu">NINE Support</a></div>
            </div>
        </div>
    </div>
</div>
