@{
    Layout = "~/Views/Shared/_LayoutNewPublic.cshtml";
    ViewBag.Title = "ResetPasswordSuccess";
}

<h4>Ihr Passwort wurde erfolgreich aktiviert.</h4>
<p>Sie können sich jetzt  @Html.ActionLink("anmelden", "Login", "Account").</p>


