@model MyStik.TimeTable.Web.Models.VerifyEMailModel
@{
    ViewBag.Title = "ResetPassword";
}

<h2>Das Zurücksetzen Ihres Passworts ist fehlgeschlagen.</h2>

<p>Grund: @Model.Message</p>
<p>Für Rückfragen wenden Sie sich an die Ansprechpartner @Html.ActionLink("Kontakt", "Contact", "Home")</p>
