@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.Title = "Passwort zurückgesetzt";
}

<div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="panel panel-default login-form">
            <div class="panel-heading">
                <h4 class="panel-title">Passwort zurückgesetzt</h4>
            </div>
            <div class="panel-body">

                <p>
                    Das Passwort wurde erfolgreich zurückgesetzt.
                    @Html.ActionLink("Hier geht es zur Anmeldung", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
                </p>
            </div>
        </div>
    </div>
</div>

