@{
    ViewBag.Title = "Passwort zurückgesetzt";
}


<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h4>Passwort zurückgesetzt</h4>
            </div>
            <div class="card-body">
                <p>
                    Das Passwort wurde erfolgreich zurückgesetzt.
                    @Html.ActionLink("Hier geht es zur Anmeldung", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
                </p>
            </div>
        </div>
    </div>
</div>


