
@{
    ViewBag.Title = "EditPersonalData";
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Meine persönlichen Daten bearbeiten</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<form class="form-horizontal">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-2">
            <input type="Name" class="form-control" id="inputName" placeholder="Vorname Nachname">
        </div>
    </div>
    <div class="form-group">
        <label for="inputStraße, Hausnummer" class="col-sm-2 control-label">Straße, Hausnummer</label>
        <div class="col-sm-2">
            <input type="Straße, Hausnummer" class="form-control" id="inputStraße, Hausnummer" placeholder="Straße, Hausnummer">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPLZ, Ort" class="col-sm-2 control-label">PLZ, Ort</label>
        <div class="col-sm-2">
            <input type="PLZ, Ort" class="form-control" id="inputPLZ, Ort" placeholder="PLZ, Ort">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-2">
            <input type="Email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputMatrikelnummer" class="col-sm-2 control-label">Matrikelnummer</label>
        <div class="col-sm-2">
            <input type="Matrikelnummer" class="form-control" id="inputMatrikelnummer" placeholder="Matrikelnummer">
        </div>
    </div>
    <div class="form-group">
        <label for="inputStatus" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-2">
            <input type="Status" class="form-control" id="inputStatus" placeholder="Status">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <button type="submit" class="btn btn-default">Speichern</button>
        </div>
    </div>

</form>
