@{
    ViewBag.Title = "Warning";
}

<h2>Wichtiger Hinweis zu Ihrem Benutzerkonto</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Ihre Einstellung für gruppenbasierte E-Mail Verteiler</h4>
    </div>
    <div class="panel-body">
        <p>Gruppenbasierte E-Mail Verteiler sind z.B. "Alle Studenten" oder "Alle Drittsemester".
            Im Gegensatz zu den E-Mail Vertilern der Lehrveranstaltungen und Newsletter können Sie sich in die
            gruppenbasierten E-Mailverteiler weder ein- noch austragen. Sie erhalten E-Mails entsprechend der Einstellungen zu
        Studiengang und Semestergruppe in Ihrem Benutzerprofil.
        </p>
        <h4 class="text-danger">Derzeit erhalten Sie keine E-Mails über die gruppenbasierten Verteiler.</h4>
        <p>Sie können Ihre Einstellungen jederzeit über das
            @Html.ActionLink("Benutzerprofil", "Index") in der Rubrik "Benachrichtigungen"
            ändern.</p>
    </div>
</div>

