@{
    ViewBag.Title = "PersonalData";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Meine persönlichen Daten</h1>
                </div>
            </div>
        </div>
    </div>
</div>


                <!--
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Name:</h1>
                                <h1>Plz Ort:</h1>
                                <h1>Straße, Hausnummer:</h1>
                                <h1>private E-Mail:</h1>
                                <h1>Matrikelnummer:</h1>
                                <h1>Status:</h1>
                            </div>
                        </div>
                </div>
                    -->

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">Michael Meier</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">PLZ, Ort:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">98441, Hinterhof</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Straße, Hausnummer:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">Hühnerstraße, 5</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">private Email:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">michael.m@hotmail.de</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Matrikelnummer:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">98137433</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">immatrikuliert</p>
                        </div>
                    </div>
                </form>

<div class="form-group">
    <div class="col-sm-offset-2">
        <a class="btn btn-default" href="http://localhost:44305/UserProfile/EditPersonalData" role="button">Meine persönlichen Daten bearbeiten</a>
    </div>
</div>
