@{
    ViewBag.Title = "Warning";
}

<h2>Wichtiger Hinweis zu Ihrem Benutzerkonto</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Ihr Status ist GAST</h4>
    </div>
    <div class="panel-body">
        <p>Derzeit haben Sie keine hm.edu E-Mail Adresse angegeben. Sie können sich in die Lehrveranstaltungen, Sprechstunden, etc. eintragen und erhalten über die zugehörigen E-Mail Verteiler Benachrichtigungen.</p>
        <p>Über die allgemeinen gruppenbasierten E-Mail Verteiler "alle Studenten", "alle Erstsemster" erhalten Sie keine E-Mail.
            Sie können Ihre Einstellungen jederzeit über das
        @Html.ActionLink("Benutzerprofil","Index")
          ändern.</p>
    </div>
</div>

