<div class="panel panel-success">
    <div class="panel-heading">
        Yippie!
    </div>
    <div class="panel-body">
        Die akzeptierten Vorschläge wurden erfolgreich als Alumni gespeichert!<br />
        @Html.ActionLink("Zurück zur Übersicht", "Index")
    </div>
</div>
