@model MyStik.TimeTable.Web.Models.RoomScheduleModel
@{
    ViewBag.Title = "Raumplan";
    var now = DateTime.Now;
}


<div class="row">
    <div class="col-sm-12 text-center">
        <h1>Belegungsplan Raum @Model.Room.Number</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="@Url.Action("GetQrCode", new {id = Model.Room.Id})" style="height: 600px; width: auto" />
            </div>
        </div>
    </div>
</div>

