@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.ThesisStateModel

<div class="list-group">
    <div class="list-group-item">
        <h5 class="list-group-item-heading">Aktueller Status: Arbeit ist abgegeben</h5>
        <div class="list-group-tem-text">
            Es fehlt noch der Knopf "Archivieren" oder ähnliches
        </div>
    </div>
</div>
