@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.ThesisStateModel


<div class="list-group">
    <div class="list-group-item">
        <h5 class="list-group-item-heading">Aktueller Status: Anfrage für Betreuung</h5>
    </div>

    @if (Model.SupervisionRequest == RequestState.InProgress)
    {
        <div class="list-group-item list-group-item-info">
            <h5 class="list-group-item-heading">Anfragen laufen noch</h5>
        </div>

    }
    else if (Model.SupervisionRequest == RequestState.Rejected)
    {
        <div class="list-group-item list-group-item-danger">
            <h5 class="list-group-item-heading">Betreuung wurde abgelehnt</h5>
            <div class="list-group-item-text">
                Betreuer muss von PKV bestimmt werden    
            </div>
        </div>
    }


</div>

