@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.ThesisStateModel

<div class="list-group">
    <div class="list-group-item">
        <h5 class="list-group-item-heading">Aktueller Status: Verlängerung beantragt</h5>
        <div class="list-group-tem-text">
            Es fehlt noch der Knopf "Stattgegegben"
        </div>
    </div>
</div>
