@model MyStik.TimeTable.Web.Models.DashboardStudentViewModel

@{
    ViewBag.Title = "Stundenplan";
    ViewBag.ShowLinks = true;
    ViewBag.ShowSubscription = true;
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-calendar"></i> Mein Stundenplan im <strong>@Model.Semester.Name</strong>
                    </h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="btn-group" role="group">
                            <a href="@Url.Action("Courses", "Planer", new {id=Model.Semester.Id})" class="btn btn-default"><i class="fa fa-arrow-left"></i> Zurück</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a class="btn btn-success active"><i class="fa fa-users"></i> Teilnehmer</a>
                            <a class="btn btn-warning active"><i class="fa fa-hourglass-half"></i> Warteliste</a>
                        </div>
                    </div>
                    @foreach (var course in Model.Courses)
                    {
                        @Html.Partial("_CourseSummaryHead", course)
                    }
                </div>
            </div>
        </div>
    </div>
</div>


