@model MyStik.TimeTable.Web.Models.ActivityPlanModel

@{
    ViewBag.Title = Resources.MyCalendar;
}

@section styles
{
    <link href="~/Assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />

}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-calendar"></i>
                        <span class="caption-subject bold uppercase"> @Resources.MyCalendar</span>
                        <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div id="calendar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Assets/global/plugins/moment.min.js"></script>
    <script src="~/Assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src='~/Assets/global/plugins/fullcalendar/lang/de.js'></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#loading').hide();

            initDayCalendar("calendar");

            $('#calendar').fullCalendar('removeEvents');

            $('#calendar').fullCalendar('addEventSource',
            {
                url: '@Url.Action("ActivityPlan", "Calendar")',
                type: 'POST'
            });
        });

    </script>
}
