
@{
    ViewBag.Title = "Kein Bestellzeitraum";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <h5>Kein Bestellzeitraum verfügbar</h5>
            <p>Aktuell ist kein Bestellzeitraum angegeben. Es ist keine Bestellung möglich.</p>
        </div>
    </div>
</div>


