@model MyStik.TimeTable.Web.Models.UserMailModel
<!DOCTYPE html>
<html>
    <head>
        <meta content="en" http-equiv="Content-Language">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title></title>
        <style type="text/css">
            .mail-warning-style {
                font-family: Arial, Helvetica, sans-serif;
                color: #0000FF;
            }

            .mail-text-style {
                font-family: Arial, Helvetica, sans-serif;
            }

            .mail-stationary-style {
                font-family: Arial, Helvetica, sans-serif;
                font-size: xx-small;
            }
        </style>
    </head>
    <body>
        <div class="mail-text-style">
            <p>Dear @Model.User.FirstName @Model.User.LastName,</p>

            @RenderBody()

            <p>Best regards</p>
            <p>NINE Team</p>

            <hr />
        </div>

        <div class="mail-stationary-style">This is an automatic generated email. Please do not reply to this message.</div>
        <div class="mail-stationary-style">In case of an unwanted message, please send an e-mail to <a href="mailto:support-nine@hm.edu">NINE Support</a>.</div>
    </body>
</html>
