@model MyStik.TimeTable.Web.Models.DeleteUserMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<p>um das unnötige Ansammeln von Daten zu vermeiden, kontrollieren wir regelmäßig den Status der Benutzerkonten.</p>
<p>Die letzte Anmeldung an Ihrem Benutzerkonto liegt mehr als 120 Tage zurück.</p>
<p>Wenn wir innerhalb der nächsten 30 Tage keine Anmeldung feststellen, dann wird Ihr Konto aus den Empfängerlisten für E-Mails gestrichen.
    D.h. Sie erhalten dann keine E-Mails mehr über Newsletter und Rundschreiben.</p>
<p>Weitere 30 Tage danach wird Ihr Benutzerkonto automatisch gelöscht.</p>

<p><strong>Hinweis:</strong> Sie können Ihre Benutzerkonto über das Menü auf der rechten Seite oben jederzeit selbst löschen.</p>

<p>Vielen Dank für Ihr Verständnis.</p>


