@model MyStik.TimeTable.Web.Models.DeleteUserMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<p>um das unnötige Ansammeln von Daten zu vermeiden, kontrollieren wir regelmäßig den Status der Benutzerkonten.</p>
<p>Die letzte Anmeldung an Ihrem Benutzerkonto liegt mehr als 150 Tage zurück.</p>
<p>Wir hatten Sie diesbezüglich vor ca. 30 Tagen angeschrieben. Wie angekündigt haben Ihr Konto jetzt aus den Empfängerlisten für E-Mails gestrichen.
    D.h. Sie erhalten ab sofort keine E-Mails mehr über Newsletter und Rundschreiben.</p>
<p>Wenn wir innerhalb der nächsten 30 Tage keine Anmeldung feststellen, dann wird ihr Benutzerkonto automatisch gelöscht.</p>

<p><strong>Hinweis:</strong> Sie können Ihre Benutzerkonto über das Menü auf der rechten Seite oben jederzeit selbst löschen.</p>

<p>Vielen Dank für Ihr Verständnis.</p>


