@model MyStik.TimeTable.Web.Models.DeleteUserMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<p>Ihr Benutzerkonto @Model.User.UserName wurde erfolgreich gelöscht.</p>
<p>Ihre Eintragungen wurden gelöscht.</p>

