@model MyStik.TimeTable.Web.Models.SubscriptionMailModel
@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}

<p>Sie haben sich aus folgender Veranstaltung ausgetragen:</p>
<p>@Model.Summary.Name</p>
<p>@Model.Summary.TimeFrame</p>

