@model MyStik.TimeTable.Web.Models.ResetPasswordMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}

<p>für Ihr Benutzerkonto wurde die Rücksetzung des Passworts beantragt.</p>
<p>Zum Zurücksetzen Ihres Passworts folgen Sie bitte den folgenden Link: <a href="@Url.Action("ResetPassword", "Account", new { id = Model.User.Id }, Request.Url.Scheme)">@Url.Action("ResetPassword", "Account", new { id = Model.User.Id }, Request.Url.Scheme)</a></p>
<p>Dort haben Sie die Gelegenheit ein neues Passwort einzugeben.</p>

