@model MyStik.TimeTable.Web.Models.ScriptOrderMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<h4>Bestellung / Abholschein</h4>
<p>Im Rahmen der Bestellperiode @Model.Basket.OrderPeriod.Title haben Sie folgende Skripte bestellt:</p>

<ul>
    @foreach (var doc in Model.Basket.Orders)
    {
        <li>@doc.ScriptDocument.Title (@doc.ScriptDocument.Version)</li>
    }
</ul>

<p>Zur Abholung der Skripte bitte in die Fachschaft kommen (Raum R 3.068) und diese E-Mail mitbreingen.</p>

<h1>Bestellnummer: @Model.Basket.OrderNumber.Value.ToString("00000")</h1>

<hr />
<p><strong>ACHTUNG Erstsemester: wir bestellen für euch die Skripte pauschal.</strong></p>
<hr/>
