@model MyStik.TimeTable.Web.Models.ScriptOrderMailModel

@{
                /**/

                Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<h4>Benachrichtigung zur Skriptenbestellung</h4>
<p>Im Rahmen der Bestellperiode @Model.Basket.OrderPeriod.Title haben Sie <strong>KEINE</strong> Skripte bestellt.</p>


<hr />
<p><strong>ACHTUNG Erstsemester: wir bestellen für euch die Skripte pauschal.</strong></p>
<hr />
