@model MyStik.TimeTable.Web.Models.ThesisMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<p>Ihrem Antrag auf Verlängerung Ihrer Abschlussarbeit wurde von @Model.ActionUser.FirstName @Model.ActionUser.LastName am @DateTime.Today.ToShortDateString() zugestimmt.</p>

