@model MyStik.TimeTable.Web.Models.ThesisMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}



<p>Der/die Betreuer:in hat in Bezug auf Verlängerung der Abschlussarbeit keine Einwände.</p>

<p>Über den Antrag entscheidet letztlich der/die Prüfungskommissionsvorsitzende.</p>

<p><b>Bitte setzen Sie sich von sich aus mit dem/der Prüfungskommissionsvorsitzenden in Verbindung!</b></p>


<a href="@Url.Action("Details", "ThesisAdmin", new {id = Model.Thesis.Id}, Request.Url.Scheme)">Zur Detailseite der Abschlussarbeit</a>


