@model MyStik.TimeTable.Web.Models.ThesisMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<p>Sie wurden von @Model.ActionUser.FirstName @Model.ActionUser.LastName aus der Liste der BetreuerInnen 
    für die Abschlussarbeit von @Model.StudentUser.FirstName @Model.StudentUser.LastName entfernt.</p>
