@model MyStik.TimeTable.Web.Models.ThesisRejectMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<p>Die Betreuung Ihrer Abschlussarbeit wurde von @Model.Lecturer.FullName abgelehnt.</p>
<p>Die Anfrage wurde gelöscht.</p>
