@model ICollection<MyStik.TimeTable.Web.Models.UserAdminViewModel>
@using System.Data.Entity.ModelConfiguration.Conventions
@using MyStik.TimeTable.Web.Helpers
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Benutzerverwaltung";
}


<h4>Benutzerverwaltung für mobile Browser</h4>

