@model MyStik.TimeTable.Web.Areas.InfoScreen.Models.InfoscreenModel


<div>
    <h4>Derzeit noch mindestens 45 min frei sind die folgenden Räume...</h4>
    @if (Model.CurrentFreeRooms.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Raum</th>
                <th>Heute noch frei bis</th>
                <th>Nächste Veranstaltung</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var room in Model.CurrentFreeRooms)
            {
                <tr>
                    <td>@room.Room.Number</td>
                    @if (room.NextDate != null)
                    {
                        if (room.NextDate.Begin > DateTime.Today.AddDays(1))
                        {
                            <td>Abends</td>
                            <td></td>
                        }
                        else
                        {
                            <td>@room.NextDate.Begin.TimeOfDay.ToString("hh\\:mm")</td>
                            <td>@room.NextDate.Activity.Name</td>
                        }
                    }
                    else
                    {
                        <td>Abends</td>
                        <td></td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h1>...keine</h1>
    }
</div>



