@model MyStik.TimeTable.Web.Areas.InfoScreen.Models.InfoscreenModel


<input id="tokenPanelLeft" type="hidden" name="tokenPanelLeft" value="Mensa">

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <h1><i class="icon icon-menu icon-aktuelles"></i>
 Heute in der Mensa</h1>
        </div>
    </div>
    <div class="portlet-body infoscreen">
        @if (Model.SpeiseplanHeute != null)
        {
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Gericht</th>
                    <th class="text-right">Preis</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var meal in Model.SpeiseplanHeute.meals.Where(m => !string.IsNullOrEmpty(m.category) && (!m.category.Equals("Beilagen") && !m.category.Equals("Aktion"))))
                {
                    <tr>
                        <td></td>
                        <td>@meal.name</td>
                        @if (meal.prices.price_student > 0)
                        {
                            <td class="text-right">
                                <b>@meal.prices.price_student.ToString("0.00€")</b>
                            </td>
                        }
                        else
                        {
                            <td>k.A.</td>
                        }

                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>





