@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Areas.InfoScreen.Models.InfoscreenModel


<div>
    <h4>ÖPNV</h4>
    <div class="mvv-departure-monitor" monitor-configuration="eyJsYW5ndWFnZSI6eyJkZXBhcnR1cmUiOiJBYmZhaHJ0IiwidHJhaW5TdG9wcyI6IkhhbHRlc3RlbGxlbiIsImRpcmVjdGlvbiI6IlJpY2h0dW5nIiwiZm9vdGVyTm90ZSI6IqkgQ29weXJpZ2h0IiwiZm9vdGVyVGV4dCI6IldlaXRlcmUgRmFocnBsYW5hdXNr/G5mdGUgdW50ZXIgd3d3Lm12di1hdXNrdW5mdC5kZSBvZGVyIG1pdCBkZXIgTVZWLUFwcCIsImhlYWRlclRleHQiOiJBYmZhaHJ0ZW4gZvxyIGhldXRlLCAiLCJsYW5ndWFnZSI6ImRlIiwibGluZSI6IkxpbmllIiwibGl2ZSI6IkxpdmUiLCJzdG9wIjoiSGFsdGVzdGVsbGUiLCJ0cmFjayI6IkdsZWlzIn0sImlzRnVsbHNjcmVlbiI6ZmFsc2UsInN0YXRpb25zIjpbeyJzdGF0aW9uIjp7InVzYWdlIjoic2YiLCJ0eXBlIjoiYW55IiwibmFtZSI6Ik38bmNoZW4sIEF2ZW5hcml1c3BsYXR6Iiwic3RhdGVsZXNzIjoiOTEwMDE2NjYiLCJhbnlUeXBlIjoic3RvcCIsInNvcnQiOiIyIiwicXVhbGl0eSI6IjI1MiIsImJlc3QiOiIxIiwib2JqZWN0IjoiQXZlbmFyaXVzcGxhdHoiLCJtYWluTG9jIjoiTfxuY2hlbiIsIm1vZGVzIjoiNSIsInJlZiI6eyJpZCI6IjkxMDAxNjY2IiwiZ2lkIjoiZGU6MDkxNjI6MTY2NiIsIm9tYyI6IjkxNjIwMDAiLCJwbGFjZUlEIjoiMSIsInBsYWNlIjoiTfxuY2hlbiIsImNvb3JkcyI6IjEyNzQ2MzguMDAwMDAsNTg2OTQ2NC4wMDAwMCJ9LCJpZCI6ImRlOjA5MTYyOjE2NjYifSwibGluZXMiOlt7Im51bWJlciI6IjE2MCIsInN5bWJvbCI6IjAzMTYwLnN2ZyIsImRpcmVjdGlvbiI6Ik1hcmlhLUVpY2gtU3RyYd9lIiwic3RhdGVsZXNzIjoic3dtOjAzMTYwOkc6SDowMTUiLCJuYW1lIjoiQnVzIn0seyJudW1iZXIiOiIxNjAiLCJzeW1ib2wiOiIwMzE2MC5zdmciLCJkaXJlY3Rpb24iOiJLYXJsc2ZlbGQgdmlhIEFsbGFjaCBCZi4gUyIsInN0YXRlbGVzcyI6InN3bTowMzE2MDpHOlI6MDE1IiwibmFtZSI6IkJ1cyJ9XSwiYWxsTGluZXMiOlt7Im51bWJlciI6IjE2MCIsInN5bWJvbCI6IjAzMTYwLnN2ZyIsImRpcmVjdGlvbiI6Ik1hcmlhLUVpY2gtU3RyYd9lIiwic3RhdGVsZXNzIjoic3dtOjAzMTYwOkc6SDowMTUiLCJuYW1lIjoiQnVzIn0seyJudW1iZXIiOiIxNjAiLCJzeW1ib2wiOiIwMzE2MC5zdmciLCJkaXJlY3Rpb24iOiJLYXJsc2ZlbGQgdmlhIEFsbGFjaCBCZi4gUyIsInN0YXRlbGVzcyI6InN3bTowMzE2MDpHOlI6MDE1IiwibmFtZSI6IkJ1cyJ9XSwibGVhZFRpbWVNaW51dGVzIjowfV0sImxpbmVzIjpbXSwibWF4UmVzdWx0cyI6MTAsImZldGNoSW50ZXJ2YWxJbk1pbnV0ZXMiOjMsInNob3dOb3RpZmljYXRpb24iOnRydWV9"></div>
    <script type="text/javascript" src="https://www.mvv-muenchen.de/typo3conf/ext/sn_mvv_efa/Resources/Public/mvv-monitor/mvv-monitor.min.js"></script>
</div>



