@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers

@{
    ViewBag.Title = "Index";

    var db = new TimeTableDbContext();
    var day = DateTime.Today;

    var now = DateTime.Now;

    var beginOfDay = now;
    var endOfDay = now.AddMinutes(15);

    var org = db.Organisers.SingleOrDefault(x => x.ShortName.Equals("FK 09"));

    var nowPlaying = db.ActivityDates.Where(d =>
        (d.Begin <= beginOfDay && beginOfDay <= d.End) ||
        (d.Begin > beginOfDay && d.Begin < endOfDay) &&                         // alles an diesem Tag
        (d.Activity.Organiser.Id == org.Id)                                     // was zu dem Organiser gehört
        )
        .OrderBy(d => d.Begin).ThenBy(d => d.End).ToList();

    if (!nowPlaying.Any())
    {
        endOfDay = beginOfDay.Date.AddDays(1);
        nowPlaying = db.ActivityDates.Where(d =>
            (d.Begin > beginOfDay && d.Begin < endOfDay) &&                         // alles an diesem Tag
            (d.Activity.Organiser.Id == org.Id)                                     // was zu dem Organiser gehört
            )
            .OrderBy(d => d.Begin).ThenBy(d => d.End).ToList();
    }
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Aktuell läuft</h1>
            </div>
            @if (nowPlaying.Any())
            {
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Beginn</th>
                            <th>Titel</th>
                            <th>Lehrende</th>
                            <th>Raum</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var date in nowPlaying)
                        {
                            if (date.Activity is Course || date.Activity is Event)
                            {
                                <tr>
                                    <td>@date.Begin.ToShortTimeString()</td>
                                    <td>@date.Activity.Name</td>
                                    <td>@Html.LecturerList(date.Hosts, false, true)</td>
                                    <td>@Html.RoomList(date.Rooms, false, false, true)</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="alert alert-info">...nix</div>
                </div>
            }
        </div>
    </div>
</div>


