@{
    ViewBag.Title = "NINE Infoscreen";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <canvas id="clockid" class="CoolClock:swissRail:160:GMTOffset"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="leftInfoscreenPanel">
                                <h2><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></h2>
                            </div>
                        </div>
                    </div>

                </div>





                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="rightInfoscreenPanel">
                                <h2><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section scripts
{
    <script src="~/Assets/global/plugins/CoolClock-master/coolclock.js"></script>
    <script src="~/Assets/global/plugins/CoolClock-master/moreskins.js"></script>

    <script>

        var playList = [
            { "ID": "1", "Title": "NowPlaying" },
            { "ID": "2", "Title": "WhatsNext" },
            { "ID": "3", "Title": "FreeRooms" }
        ];

        var playListSize = playList.length;
        var playListIndex = 1;



        $(function () {
            CoolClock.findAndCreateClocks();

            $.ajax({
                url: '@Url.Action("LeftPanel")',
                type: 'POST',
                success: function(result) {
                    $('#leftInfoscreenPanel').html(result);
                }
            });


            updateLeftPanel();
            updateRightPanel();

        });

        function updateLeftPanel() {
            setInterval(function () {

                var tokenLeft = null;
                if ($("#tokenPanelLeft")) {
                    tokenLeft = $("#tokenPanelLeft").val();
                }


                $.ajax({
                    url: '@Url.Action("LeftPanel")',
                    type: 'POST',
                    data: {
                      token: tokenLeft
                    },
                    success: function (result) {
                        $('#leftInfoscreenPanel').html(result);
                    }
                });
            }, 20000);
        }

        function updateRightPanel() {

            setInterval(function () {

                $.ajax({
                    url: '@Url.Action("RightPanel")',
                    type: 'POST',
                    data: {
                        token: playList[playListIndex-1].Title
                    },
                    success: function (result) {
                        $('#rightInfoscreenPanel').html(result);

                        playListIndex++;
                        if (playListIndex > playListSize)
                            playListIndex = 1;
                    }
                });


            }, 20000);
        }



    </script>
}





