@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <h1>Infoscreen R-Bau | FK 09</h1>
            <div id="contentCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="20000">
                        <div id="page0">
                            <h4>Aktuell läuft</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Wann</th>
                                    <th>Was</th>
                                    <th>Wer</th>
                                    <th>Wo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>x</td>
                                    <td>x</td>
                                    <td>x</td>
                                    <td>x</td>
                                </tr>
                                <tr>
                                    <td>x</td>
                                    <td>x</td>
                                    <td>x</td>
                                    <td>x</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="20000">
                        <div id="page1">
                            <h4>Demnächst beginnt</h4>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="20000">
                        <div id="page2">
                            <h4>Aktuell freie Räume</h4>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="mvv-departure-monitor" monitor-configuration="eyJsYW5ndWFnZSI6eyJkZXBhcnR1cmUiOiJBYmZhaHJ0IiwidHJhaW5TdG9wcyI6IkhhbHRlc3RlbGxlbiIsImRpcmVjdGlvbiI6IlJpY2h0dW5nIiwiZm9vdGVyTm90ZSI6IqkgQ29weXJpZ2h0IiwiZm9vdGVyVGV4dCI6IldlaXRlcmUgRmFocnBsYW5hdXNr/G5mdGUgdW50ZXIgd3d3Lm12di1hdXNrdW5mdC5kZSBvZGVyIG1pdCBkZXIgTVZWLUFwcCIsImhlYWRlclRleHQiOiJBYmZhaHJ0ZW4gZvxyIGhldXRlLCAiLCJsYW5ndWFnZSI6ImRlIiwibGluZSI6IkxpbmllIiwibGl2ZSI6IkxpdmUiLCJzdG9wIjoiSGFsdGVzdGVsbGUiLCJ0cmFjayI6IkdsZWlzIn0sImlzRnVsbHNjcmVlbiI6ZmFsc2UsInN0YXRpb25zIjpbeyJzdGF0aW9uIjp7InVzYWdlIjoic2YiLCJ0eXBlIjoiYW55IiwibmFtZSI6Ik38bmNoZW4sIEhvY2hzY2h1bGUgTfxuY2hlbiAoTG90aHN0ci4pIiwic3RhdGVsZXNzIjoiOTEwMDAwMTIiLCJhbnlUeXBlIjoic3RvcCIsInNvcnQiOiIyIiwicXVhbGl0eSI6IjQyOCIsImJlc3QiOiIxIiwib2JqZWN0IjoiSG9jaHNjaHVsZSBN/G5jaGVuIChMb3Roc3RyLikiLCJtYWluTG9jIjoiTfxuY2hlbiIsIm1vZGVzIjoiNCw1IiwicmVmIjp7ImlkIjoiOTEwMDAwMTIiLCJnaWQiOiJkZTowOTE2MjoxMiIsIm9tYyI6IjkxNjIwMDAiLCJwbGFjZUlEIjoiMSIsInBsYWNlIjoiTfxuY2hlbiIsImNvb3JkcyI6IjEyODYxNjcuMDAwMDAsNTg2NzQ0Mi4wMDAwMCJ9LCJpZCI6ImRlOjA5MTYyOjEyIn0sImxpbmVzIjpbeyJudW1iZXIiOiIyMCIsInN5bWJvbCI6IjAyMDIwLnN2ZyIsImRpcmVjdGlvbiI6IkthcmxzcGxhdHogKFN0YWNodXMpIiwic3RhdGVsZXNzIjoic3dtOjAyMDIwOkc6SDowMTUiLCJuYW1lIjoiVHJhbSJ9LHsibnVtYmVyIjoiMjAiLCJzeW1ib2wiOiIwMjAyMC5zdmciLCJkaXJlY3Rpb24iOiJNb29zYWNoIiwic3RhdGVsZXNzIjoic3dtOjAyMDIwOkc6UjowMTUiLCJuYW1lIjoiVHJhbSJ9LHsibnVtYmVyIjoiMjEiLCJzeW1ib2wiOiIwMjAzMS5zdmciLCJkaXJlY3Rpb24iOiJTdC4tVmVpdC1TdHJh32UiLCJzdGF0ZWxlc3MiOiJzd206MDIwMjE6RzpIOjAxNSIsIm5hbWUiOiJUcmFtIn0seyJudW1iZXIiOiIyMSIsInN5bWJvbCI6IjAyMDMxLnN2ZyIsImRpcmVjdGlvbiI6Ildlc3RmcmllZGhvZiIsInN0YXRlbGVzcyI6InN3bTowMjAyMTpHOlI6MDE1IiwibmFtZSI6IlRyYW0ifSx7Im51bWJlciI6Ik4yMCIsInN5bWJvbCI6IjMyTjIwLnN2ZyIsImRpcmVjdGlvbiI6IkthcmxzcGxhdHogKFN0YWNodXMpIiwic3RhdGVsZXNzIjoic3dtOjMyOTIwOkc6SDowMTUiLCJuYW1lIjoiTmFjaHRUcmFtIn0seyJudW1iZXIiOiJOMjAiLCJzeW1ib2wiOiIzMk4yMC5zdmciLCJkaXJlY3Rpb24iOiJNb29zYWNoIiwic3RhdGVsZXNzIjoic3dtOjMyOTIwOkc6UjowMTUiLCJuYW1lIjoiTmFjaHRUcmFtIn0seyJudW1iZXIiOiIxNTMiLCJzeW1ib2wiOiIwMzE1My5zdmciLCJkaXJlY3Rpb24iOiJPZGVvbnNwbGF0eiIsInN0YXRlbGVzcyI6InN3bTowMzE1MzpHOkg6MDE1IiwibmFtZSI6IkJ1cyJ9LHsibnVtYmVyIjoiMTUzIiwic3ltYm9sIjoiMDMxNTMuc3ZnIiwiZGlyZWN0aW9uIjoiVHJhcHBlbnRyZXVzdHJh32UiLCJzdGF0ZWxlc3MiOiJzd206MDMxNTM6RzpSOjAxNSIsIm5hbWUiOiJCdXMifV0sImFsbExpbmVzIjpbeyJudW1iZXIiOiIyMCIsInN5bWJvbCI6IjAyMDIwLnN2ZyIsImRpcmVjdGlvbiI6IkthcmxzcGxhdHogKFN0YWNodXMpIiwic3RhdGVsZXNzIjoic3dtOjAyMDIwOkc6SDowMTUiLCJuYW1lIjoiVHJhbSJ9LHsibnVtYmVyIjoiMjAiLCJzeW1ib2wiOiIwMjAyMC5zdmciLCJkaXJlY3Rpb24iOiJNb29zYWNoIiwic3RhdGVsZXNzIjoic3dtOjAyMDIwOkc6UjowMTUiLCJuYW1lIjoiVHJhbSJ9LHsibnVtYmVyIjoiMjEiLCJzeW1ib2wiOiIwMjAzMS5zdmciLCJkaXJlY3Rpb24iOiJTdC4tVmVpdC1TdHJh32UiLCJzdGF0ZWxlc3MiOiJzd206MDIwMjE6RzpIOjAxNSIsIm5hbWUiOiJUcmFtIn0seyJudW1iZXIiOiIyMSIsInN5bWJvbCI6IjAyMDMxLnN2ZyIsImRpcmVjdGlvbiI6Ildlc3RmcmllZGhvZiIsInN0YXRlbGVzcyI6InN3bTowMjAyMTpHOlI6MDE1IiwibmFtZSI6IlRyYW0ifSx7Im51bWJlciI6Ik4yMCIsInN5bWJvbCI6IjMyTjIwLnN2ZyIsImRpcmVjdGlvbiI6IkthcmxzcGxhdHogKFN0YWNodXMpIiwic3RhdGVsZXNzIjoic3dtOjMyOTIwOkc6SDowMTUiLCJuYW1lIjoiTmFjaHRUcmFtIn0seyJudW1iZXIiOiJOMjAiLCJzeW1ib2wiOiIzMk4yMC5zdmciLCJkaXJlY3Rpb24iOiJNb29zYWNoIiwic3RhdGVsZXNzIjoic3dtOjMyOTIwOkc6UjowMTUiLCJuYW1lIjoiTmFjaHRUcmFtIn0seyJudW1iZXIiOiIxNTMiLCJzeW1ib2wiOiIwMzE1My5zdmciLCJkaXJlY3Rpb24iOiJPZGVvbnNwbGF0eiIsInN0YXRlbGVzcyI6InN3bTowMzE1MzpHOkg6MDE1IiwibmFtZSI6IkJ1cyJ9LHsibnVtYmVyIjoiMTUzIiwic3ltYm9sIjoiMDMxNTMuc3ZnIiwiZGlyZWN0aW9uIjoiVHJhcHBlbnRyZXVzdHJh32UiLCJzdGF0ZWxlc3MiOiJzd206MDMxNTM6RzpSOjAxNSIsIm5hbWUiOiJCdXMifV0sImxlYWRUaW1lTWludXRlcyI6NX1dLCJsaW5lcyI6W10sIm1heFJlc3VsdHMiOjEwLCJmZXRjaEludGVydmFsSW5NaW51dGVzIjozLCJzaG93Tm90aWZpY2F0aW9uIjp0cnVlfQ=="></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://www.mvv-muenchen.de/typo3conf/ext/sn_mvv_efa/Resources/Public/mvv-monitor/mvv-monitor.min.js"></script>

    <script>

        $(document).ready(function() {

            var target = "page0";

            $.ajax({
                url: '@Url.Action("ContentForPage")',
                type: 'POST',
                data: {
                    page: 0,
                },
                success: function(result) {
                    window.$(`#${target}`).html(result);

                }
            });

            startCounter();

            const myCarousel = document.getElementById('contentCarousel');

            myCarousel.addEventListener('slide.bs.carousel',
                event => {
                    console.log(event.to);
                    var target = "page" + event.to;
                    //alert("no loading content");
                    $.ajax({
                        url: '@Url.Action("ContentForPage")',
                        type: 'POST',
                        data: {
                            page: event.to,
                        },
                        success: function(result) {
                            window.$(`#${target}`).html(result);
                            startCounter();
                        }
                    });

                });
        });

        function startCounter() {
            var i = 100;

            var counterBack = setInterval(function () {
                i = i - 5;
                if (i > 0) {
                    $('.progress-bar').css('width', i + '%');
                } else {
                    clearInterval(counterBack);
                }

            }, 950);
        }

    </script>
}
