
@{
    ViewBag.Title = "Ansprechpartner";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Ansprechpartner <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="profileList"></div>
        </div>
    </div>
</div>
