@model CalenderEventViewModel
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models

<div>
    <strong>
        @Model.Summary.Name (@Model.Summary.ShortName)
    </strong>
</div>
<div>
    @Html.LecturerList(Model.Summary.Date.Hosts, false)
</div>
