@model CalenderEventViewModel
@using System.Text
@using MyStik.TimeTable.Web.Models

<a href="javascript: onShowEventInfo('@Model.Summary.Activity.Id')" class="btn btn-primary btn-xs">
    <i class="fa fa-info-circle"></i>
</a>
