@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.CourseSummaryModel

@{
    var linkDescription = string.Format("desc{0}", Model.Course.Id);
    var linkDates = string.Format("dates{0}", Model.Course.Id);
    var linkFit = string.Format("fit{0}", Model.Course.Id);
    var linkNonFit = string.Format("nonfit{0}", Model.Course.Id);
    var linkConflicts = string.Format("conflicts{0}", Model.Course.Id);

}

<div class="list-group-item">
    @if (string.IsNullOrEmpty(Model.Course.Description))
    {
        <h5><i>Keine Beschreibung vorhanden</i></h5>
    }
    else
    {
        <div>@Html.Raw(Model.Course.Description)</div>
    }
</div>
<div class="list-group-item">
    @if (string.IsNullOrEmpty(Model.Course.UrlMoodleCourse) && string.IsNullOrEmpty(Model.Course.KeyMoodleCourse))
    {
        <h5><i>Keine Informationen zu Moodle vorhanden</i></h5>
    }
    else
    {
        <h5>Moodle</h5>
        <div>
            <ul class="fa-ul">
                @if (!string.IsNullOrEmpty(Model.Course.UrlMoodleCourse))
                {
                    <li>
                        <i class="fa fa-li fa-globe"></i>
                        <a href="@Model.Course.UrlMoodleCourse" target="_blank">direkt zum Moodle Kurs <i class="bi-box-arrow-up-right"></i></a>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Course.KeyMoodleCourse))
                {
                    <li><i class="fa fa-li fa-key"></i>Zugangsschlüssel <strong>@Model.Course.KeyMoodleCourse</strong></li>
                }
            </ul>
        </div>
    }
</div>

