@model MyStik.TimeTable.Web.Models.CourseSummaryModel


@if (Model.Course.Occurrence.IsAvailable)
 {
     <div class="list-group-item list-group-item-success">
         <i class="bi bi-pencil"></i> Studierende können sich eintragen.
     </div>
 }
 else
 {
     <div class="list-group-item list-group-item-danger">
         <i class="bi bi-ban"></i> Studierende können sich aktuell nicht eintragen.
     </div>
 }
