@model ICollection<MyStik.TimeTable.Web.Models.CourseSummaryModel>

@{
    ViewBag.ShowLinks = true;
    ViewBag.ShowTitle = true;
}

@if (Model.Any())
{
<div class="list-group">
    @foreach (var course in Model)
    {
        @Html.Partial("_CourseSummaryHead", course)
    }
</div>



}
else
{
    <div class="panel-body">
        <h2>Keine Lehrveranstaltungen gefunden</h2>
    </div>
}



