<div class="alert alert-info">
    <h1><i class="fa fa-flask"></i> Wichtiger Hinweis</h1>
    <p>NINE ist ein studentisches Projekt. 
        Es ist damit auch ein Experimentierfeld und lebendes Labor. 
        Wir wollen zeitgemäßige digitale Werkzeuge für die Organisation des Studienalltags schaffen. 
        Damit betreten wir an der einen oder anderen Stelle auch Neuland. Das bezieht sich auch auf die Daten bzw. deren teilweise neuartige Aufbereitung.
    </p>
    <p>
        Ab sofort sind alle "unfertigen" Funktionen mit einem <span class="label label-info">beta</span> Aufkleber markiert.
        Feedback sammeln wir über die Funktione "Fehler melden" unten rechts auf jeder Seite eingeblendet.
    </p>
    <p>
        <strong>Nicht alle hier angezeigten Daten sind korrekt! 
            Im Zweifel gelten ausschließlich die offiziellen Dokumente (Studienplan, Studien- und Prüfungsordnung) der jeweiligen Studiengänge.</strong>
        <a href="http://www.hm.edu">Abrufbar über die Webseite der HM</a>
    </p>
    <p><strong>Vielen Dank für das Verständnis und die Unterstützung</strong></p>
</div>


