@model System.Web.Mvc.HandleErrorInfo


<div class="row">
    <div class="col-md-12">
        <h4 class="text-danger">Es ist ein Fehler aufgetreten.</h4>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Details</h3>
            </div>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>Aktion</td>
                        <td>@Model.ActionName</td>
                    </tr>
                    <tr>
                        <td>Bereich</td>
                        <td>@Model.ControllerName</td>
                    </tr>
                    <tr>
                        <td>Fehlermeldung</td>
                        <td>@Model.Exception.Message</td>
                    </tr>
                    <tr>
                        <td>Aufrufhierarchie</td>
                        <td>@Model.Exception.StackTrace</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

