@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Web.Models.LecturerViewModel>

@if (Model.Any())
{
    <div class="list-group">
        @foreach (var lec in Model)
        {
            <div class="list-group-item">
                <h5>
                    @Html.FacultyLabel(lec.Lecturer.Organiser)
                    <a href="@Url.Action("Private", "Person", new {memberId = lec.Lecturer.Id})">@lec.Lecturer.Name</a>
                </h5>
            </div>
        }
    </div>
}
else
{
    <div class="panel-body">
        <h2>Keine Lehrenden gefunden</h2>
    </div>
}

