<div class="alert alert-warning">
    <h4>Aktuelle Infos zum Versand von Bestätigungs E-Mails bei eigenen Eintragungen und Austragungen</h4>
    <p>NINE versendet aktuell keine Bestätigungs E-Mails bei eigenen Eintragungen bzw. Austragungen. 
        Bei Austragung durch Dritte, z.B. Dozent wird automatisch eine E-Mail versendet. 
    Bei Fragen senden Sie bitte eine E-Mail an: nine (at) wi.hm.edu</p>
</div>

