<div class="row">
    <div class="alert alert-info">
        <h4>Es wurden noch keine Sprechstunden festgelegt.</h4>
        <a href="" class="btn btn-default">Sprechstunde "nach Vereinbarung" anlegen</a>
        <a href="" class="btn btn-default">Sprechstunde mit Terminen/Slots anlegen</a>
    </div>
</div>

