<div class="row" style="margin-top: 20px">
    <div class="col-12">

        <div class="alert alert-danger">
            <h4>Wichtiger Hinweis</h4>
            <p>
                Die Eignungsprüfungen sind Bestandteil eines Bewerbungsverfahrens. Eine Teilnahme an einer Eignungsprüfung wird nur berücksichtigt, wenn auch eine Bewerbung vorliegt.
                Für Informationen zur Bewerbung siehe
                <a href="https://www.hm.edu/studieninteressiert/bewerbung/index.de.html" target="_blank">Webseite der Hochschule München</a>.
            </p>
        </div>
    </div>
</div>