<div class="row" style="margin-top: 20px">
    <div class="col-12">

        <div class="alert alert-danger">
            <h4>Wichtiger Hinweis</h4>
            <p>
                Die hier aufgeführten Auswahlverfahren bilden lediglich die inhaltlichen Aspekte einer Bewerbung um einen Studienplatz ab. 
                Informationen zu den zwingend erforderlichen formalen Rahmenbedingungen einer Bewerbung finden sich auf der
                <a href="https://www.hm.edu/studieninteressiert/bewerbung/bachelor_bewerbung/index.de.html#%0A" target="_blank">offiziellen Webseite der Hochschule München</a>.
            </p>
        </div>
    </div>
</div>