
@{
    ViewBag.Title = "Auswahlverfahren";
}

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-poll"></i> Details zum Auswahlverfahren x
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-folder-open"></i> Runde 1: Einreichen der Mappe
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fas fa-download"></i>Bereitgestellte Unterlagen</h5>
                    </div>
                    <p class="mb-1">Keine</p>
                </div>
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fas fa-upload"></i>Eingereichte Unterlagen</h5>
                        <small>maximal 25 Dateien a 25 MB</small>
                    </div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Datei</th>
                            <th>Größe</th>
                            <th>Hochgeladen </th>
                            <th>Bemerkung</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>bild01.png</td>
                            <td>9276239023 bytes</td>
                            <td>05.05.2020 23:41</td>
                            <td>Acryl auf Leinwand</td>
                            <td><a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> Löschen</a></td>
                        </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-primary"><i class="fas fa-plus"></i> Neues Dokument hochladen</a>
                <a href="#" class="btn btn-primary"><i class="fas fa-envelope"></i> Bericht schicken lassen</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-folder-open"></i> Runde 2: Prüfungsaufgaben
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fas fa-download"></i>Bereitgestellte Unterlagen</h5>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Datei</th>
                                <th>Größe</th>
                                <th>Letzter Downlod </th>
                                <th>Bemerkung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>aufgaben.pdf</td>
                                <td>1112334 bytes</td>
                                <td>08.05.2020 00:23</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fas fa-upload"></i>Eingereichte Unterlagen</h5>
                        <small>maximal 3 Dateien a 10 MB</small>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Datei</th>
                                <th>Größe</th>
                                <th>Hochgeladen </th>
                                <th>Bemerkung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>antwort.pdf</td>
                                <td>12339023 bytes</td>
                                <td>09.05.2020 21:09</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-primary"><i class="fas fa-plus"></i> Neues Dokument hochladen</a>
                <a href="#" class="btn btn-primary"><i class="fas fa-envelope"></i> Bericht schicken lassen</a>
            </div>
        </div>
    </div>
</div>

