@model MyStik.TimeTable.Data.Assessment
@{
    ViewBag.Title = "Teilnahme an Auswahlverfahren";
}


@Html.Partial("_Disclaimer")

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-poll"></i> Meine Teilnahme am Auswahlverfahren "@Model.Name"
            </div>
            
            <div class="card-body">
                <h5 class="card-title">Zusätzliche Nutzungsvereinbarungen und/oder FAQs</h5>
                <p class="card-text">Ich sollte folgende Punkte gründlich durchlesen. Bei Fragen wende ich mich an XXXX</p>

                <ul>
                    <li>
                        Muss ich hier Dinge hochladen?
                        <ul>
                            <li>ja, es geht dieses Semester nicht anders</li>
                        </ul>
                    </li>
                    <li>
                        Ich habe kein stabiles Internet
                        <ul>
                            <li>Dann schick uns einen USB-Stick mit der Post</li>
                        </ul>
                    </li>
                </ul>

                <a href="@Url.Action("Create", "Candidature", new {id =@Model.Id})" class="btn btn-outline-primary">Teilnahme starten</a>
                <a href="@Url.Action("Index", "Assessment")" class="btn btn-outline-secondary">Abbrechen</a>
            </div>
        </div>
    </div>
</div>
