@model MyStik.TimeTable.Web.Models.SearchViewModel
@{
    ViewBag.Title = "Suche";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Suchergebnisse für "@Model.SearchText"</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-speech font-green-sharp"></i>
                        <span class="caption-subject bold uppercase"> Personen</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    @Html.Partial("_LecturerListSummary", Model.Lecturers)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-speech font-green-sharp"></i>
                        <span class="caption-subject bold uppercase"> Lehrveranstaltungen</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    @Html.Partial("_CourseListSummary", Model.Courses)
                </div>
            </div>
        </div>
    </div>
</div>
