@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Data.Semester

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>Wichtige Termine
                </div>
                <div class="actions">
                    @if ((ViewBag.UserRight.IsSemesterAdmin && ViewBag.UserRight.User.MemberState == MemberState.Staff) || User.IsInRole("SysAdmin"))
                    {
                        <a href="@Url.Action("Details", "Semester", new {id = Model.Id})" class="edit"> Ändern</a>
                    }
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Datum / Zeitraum</th>
                        <th></th>
                        <th>Beschreibung</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var date in Model.Dates)
                    {
                        <tr>
                            <td>@Html.TimeSpan(date)</td>
                            <td>HM</td>
                            @if (date.HasCourses)
                            {
                                <td>@date.Description</td>
                            }
                            else
                            {
                                <td>@date.Description <i>(Vorlesungsfrei)</i></td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

