@model MyStik.TimeTable.Web.Models.SemesterViewModel

@{
    ViewBag.Title = "Fortschreibung";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-title">Fortschreibung</h5>
        </div>
    </div>
</div>