@model ICollection<MyStik.TimeTable.Web.Models.CourseSummaryModel>
@{
    ViewBag.Title = ViewBag.GroupName;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Semestergruppe @ViewBag.GroupName (@ViewBag.Semester.Name)</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Alle Lehrveranstaltungen der Semestergruppe</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("_CourseListSummary", Model)
                </div>
            </div>
        </div>
    </div>
</div>

