
@{
    ViewBag.Title = "CreateGroup";
}

<h4>Gruppe anlegen</h4>

<div class="alert alert-danger">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            @Html.ValidationSummary()

            <div class="form-group">
                <label for="sourcegroup">Von Gruppe</label>
                <input type="text" class="form-control" id="sourcegroup" name="sourcegroup">
            </div>

            <div class="form-group">
                <label for="targetgroup">Nach Gruppe</label>
                <input type="text" class="form-control" id="targetgroup" name="targetgroup">
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Gruppe transferieren" class="btn btn-danger" />
                </div>
            </div>
        </fieldset>
    }
</div>


