@model ICollection<MyStik.TimeTable.Web.Models.CourseDateInfoModel>
@{
    ViewBag.Title = "Abgesagte Vorlesungen";
}

<div class="row">
    @Html.Partial("_MenuLeft")
    <div class="col-xs-6 col-sm-9">
        <h4>Heutige abgesagte Lehrveranstaltungen</h4>
        @Html.Partial("_CourseDateList", Model)
    </div>
</div>

