
@{
    ViewBag.Title = "Index";
}

<h2>WPM - Wahl</h2>

<p>
    @Html.ActionLink("Liste aller WPMs", "List")
</p>


<p>
    @Html.ActionLink("Auswertung der Eintragungen", "Subscribers")
</p>


<p>
    @Html.ActionLink("Verlosung", "Gamble")
</p>

<p>
    @Html.ActionLink("Hintergrund Job", "Hangfire")
</p>

