<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Aktionen</h5>
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action">
                    <i class="fas fa-user-astronaut fa-fw"></i>LB anlegen
                </a>
                <a class="list-group-item list-group-item-action">
                    <i class="fas fa-envelope fa-fw"></i>Mail schreiben
                </a>
                <a class="list-group-item list-group-item-action">
                    <i class="fas fa-ban  fa-fw"></i>Raum reserviereb
                </a>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Aktuelle Raumbelegungen<i class="fas fa-sync"></i></h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            R 0.055
                        </div>
                        <div class="col-2">
                            09:00-12:15
                        </div>
                        <div class="col-6">
                            Grudlagen der Informatik
                        </div>
                        <div class="col-2">
                            <a href="#"><i class="far fa-clock text-primary"></i></a>
                            <a href="#"><i class="fas fa-recycle text-primary"></i></a>
                            <a href="#"><i class="far fa-times-circle text-danger"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Abgesagt</h5>
            </div>
            <ul class="list-group"></ul>
        </div>
    </div>
</div>

