@model MyStik.TimeTable.Data.Room
@{
    ViewBag.Title = "Belegungsplan";
}

@section styles
{
    <link href="~/Assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-rooms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Raumbelegung für @Model.Number</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i> @Model.Number
                        <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="calendar" class="has-toolbar">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
        <script src="~/Assets/global/plugins/moment.min.js"></script>
        <script src="~/Assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
        <script src='~/Assets/global/plugins/fullcalendar/lang/de.js'></script>
        <script src="~/Assets/fillter/scripts/calendar.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {
                $('#loading').hide();

                initCalendar(false);

                $('#calendar').fullCalendar('removeEvents');

                $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("CourseEventsByRoom", "Calendar")',
                    type: 'POST',
                    data: {
                        roomId: "@Model.Id",
                        showPersonalDates: false
                    }
                });
            });

        </script>
    }
