
@{
    ViewBag.Title = "Modulekataloge";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Modulkataloge FK09</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="#" class="btn btn-outline-primary"><i class="bi-plus-square"></i></a>
                    </div>
                </div>
            </div>
            <table id="tabCatalogs">

            </table>
        </div>
    </div>
</div>
