@model WIQuest.Web.Data.Question

@{
    ViewBag.Title = "ImageTestIndex";
}

<h2>ImageTestIndex</h2>


using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Image</h4>
    <hr />
    @Html.ValidationSummary(true)


    <h2>Index</h2>


    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>

            </tr>
        }

    </table>
