@model WIQuest.Web.Data.Question
@{
    ViewBag.Title = "UploadImage";
}

<h4>Bilddatei für @Model.Text hochladen</h4>

<div class="well">
    @using (Html.BeginForm("UploadImage", "Question",
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        <input name="uploadFile" type="file" />
        <input type="submit" value="Datei hochladen" />
    }
</div>
