
@{
    ViewBag.Title = "CreateCourse";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Neuen Kurs anlegen für Modul / Fach</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Bezeichnung</label>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Segment</label>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Zeitraum</label>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Dozent:in</label>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Raum</label>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Kommentar</label>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

