@model ICollection<MyStik.TimeTable.Data.CurriculumModule>
@{
    ViewBag.Title = "Meine Module";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Meine Module
            </div>
            <div class="list-group">
                @foreach (var module in Model)
                {
                    <a href="@Url.Action("Details", "ModuleDescription", new {id = module.Id})" class="list-group-item list-group-item-action">@module.Name (@module.ShortName, @module.ModuleId)</a>
                }
            </div>
        </div>
    </div>
</div>

