@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.Title = Resources.ImprintHeading;
}

<div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">@Resources.ImprintHeading</h4>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Die Plattform <a href="http://nine.wi.hm.edu">NINE</a> wird betrieben von der Fakultät 09 der Hochschule für angewandte Wissenschaften (Hochschule München)</strong>
                </p>

                <address>
                    <strong>
                        Hochschule für angewandte Wissenschaften München<br />
                        Munich University of Applied Sciences
                    </strong><br />
                    Lothstr. 34<br />
                    D-80335 München<br />
                    Tel.: +49 (0) 89 12 65 - 0<br />
                    <a href="http://www.hm.edu">www.hm.edu</a>
                </address>

                <p>
                    Die Hochschule für angewandte Wissenschaften München ist eine Körperschaft des Öffentlichen Rechts. Sie wird durch ihren Präsidenten Prof. Dr. Martin Leitner gesetzlich vertreten.<br />
                    Umsatzsteuer-Identifikationsnummer gem. § 27 Umsatzsteuergesetz (UStG): DE 811335517
                </p>

                <h4>Aufsichtsbehörde</h4>
                <address>
                    Bayerisches Staatsministerium für Wissenschaft, Forschung und Kunst<br />
                    Salvatorstraße 2<br />
                    80333 München<br />
                    Ust-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE 811305931
                </address>

                <h4>Inhaltliche Betreuung der Plattform</h4>
                <p>
                    Für inhaltliche Fragen zur Plattform wenden Sie sich bitte an das <a href="http://w3wi-n.hm.edu/die_fakultaet/personen/wichtige_ansprechpartner/sekretariat.de.html">Sekretariat der Fakultät 09</a>
                </p>

                <h4>Haftungsausschluss</h4>
                <p>
                    Die Inhalte dieser Seiten wurden mit größter Sorgfalt recherchiert und veröffentlicht. Wir bemühen uns außerdem Inhalte so aktuell wie möglich darzustellen. Da Fehler menschlich und nicht immer zu vermeiden sind, bitten wir jeden Benutzer um Rückmeldung, wenn Fehler irgendwelcher Art entdeckt werden. Wir sind um schnellste Korrektur bemüht.
                </p>
                <p>
                    Für die Richtigkeit, Vollständigkeit und Aktualität unserer Internetseiten können wir trotz sorgfältigster Bearbeitung keine Haftung übernehmen. Dies gilt für illegale, fehlerhafte oder unvollständige Inhalte und ganz besonders für Schäden oder Konsequenzen, die durch die direkte oder indirekte Nutzung der Internetseiten der Hochschule München entstehen.
                    Die Verantwortung für die themenbezogenen Inhalte liegt bei den Autoren oder Autorinnen der jeweiligen Medien. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors oder der jeweiligen Autorin und nicht immer die der Hochschule München wieder.
                </p>

                <h4>Haftungsausschluss bei externen Links und Querverweise auf Internetseiten Dritter</h4>
                <p>
                    Für die Inhalte von Publikationen und Internetauftritten Dritter, die durch Querverweise und sog. Links auf dieser Plattform zugänglich gemacht werden, wird jegliche Haftung ausgeschlossen, da die Hochschule München auf deren Inhalte, Richtigkeit und Vollständigkeit der Information, Legalität und Sittlichkeit keinen Einfluss hat. Dies gilt auch, wenn Dritte mit oder ohne Zustimmung der Hochschule München auf die Homepage der Hochschule München verlinkt haben. Die Hochschule München distanziert sich ausdrücklich von den Inhalten Dritter und macht sich deren Inhalte nicht zu Eigen. Die Verantwortung für die Inhalte auf Internetseiten Dritter hat ausschließlich der jeweilige Anbieter zu übernehmen. Diese Erklärung gilt für alle auf dieser Lernplattform angezeigten Links und für alle Inhalte der Seiten, zu denen hier sichtbare Banner, Buttons und Links führen.
                </p>
                <p>
                    Der Hinweis auf die Internetseiten Dritter bedeutet in keinem Fall, dass die Hochschule München die dort wiedergegebenen Meinungen und Darstellungen vertritt. Der Verweis auf die Seiten Dritter soll ausschließlich der Vervollständigung und Verbesserung von Informationen dienen.
                </p>
                <p>
                    Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcher dargebotener Drittinformationen entstehen, übernimmt die Hochschule München keine Verantwortung und es haftet der jeweilige Anbieter oder Verfasser.
                </p>
                <p>
                    <small>Zuletzt geändert: Montag, 26. Januar 2017, 09:30 Uhr</small>

                </p>
                </div>

            </div>
        </div>
</div>
