
@{
    ViewBag.Title = "Startseite";
}

<div class="row justify-content-md-center" style="margin-bottom: 20px; margin-top: 80px">
    <div class="col-md-12">
        <h4 class="text-center">Informationen rund um Studium und Lehre</h4>
    </div>
</div>

    <div class="row justify-content-md-center" style="margin-bottom: 20px">
        <div class="col-sm-6 col-md-4">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-2x fa-user-astronaut"></i><br />
                        Studieninteressierte
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Neue Welt Studium</h6>
                    <p class="card-text">Modulkataloge, Aufnahmeverfahren, Ansprechpartner</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-2x fa-user-graduate"></i><br />
                        Studierende
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Organisation  des Studienalltags</h6>
                    <p class="card-text">Vorlesungsverzeichnisse, Wahlverfahren, persönlicher Stundenplan, </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-2x fa-chalkboard-teacher"></i><br />
                        Lehrende
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Gestaltung des Lehrbetriebs</h6>
                    <p class="card-text">Terminverwaltung, Raumbelegung, Benachrichtigungen</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-bottom: 20px">
        <div class="col-sm-6 col-md-6">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-2x fa-flask"></i><br />
                        Labor
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Aktuelle studentische Projekte</h6>
                    <p class="card-text">Apps für Smartphone</p>
                    <div class="text-center">
                        <a class="btn btn-outline-secondary" href="#" target="_blank">
                            <img style="width: 50px" src="@Url.Content("~/Assets/fillter/img/logo_fillter_dark.png")" alt="fillter" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-2x fa-external-link-alt"></i><br />
                        Weitere Systeme
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Offizielle Systeme der HM</h6>
                    <p class="card-text">Bewerbung, Noten, Unterlagen</p>
                    <div class="text-center">
                        <a class="btn btn-outline-secondary" href="https://conwiki.cc.hm.edu/confluence/pages/viewpage.action?pageId=250552983" target="_blank">
                            Systeme der zentralen IT
                        </a>
                        <a class="btn btn-outline-secondary" href="https://www.hm.edu/elc/" target="_blank">
                            Systeme des E-Learning Centers
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


