
@{
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Startseite";
}

<div class="row justify-content-md-center" style="margin-bottom: 20px; margin-top: 20px">
    <div class="col-md-12">
        <h4 class="text-center">Informationsdienste rund um Studium und Lehre</h4>
        <h5 class="text-center">der Fakulttäten für</h5>
        <p class="text-center mb-0"><a href="https://www.sw.hm.edu/" target="_blank">Angewandte Sozialwissenschaften</a></p>
        <p class="text-center mb-0"><a href="https://www.bwl.hm.edu/" target="_blank">Betriebswirtschaft</a></p>
        <p class="text-center mb-0"><a href="https://www.design.hm.edu/" target="_blank">Design</a></p>
        <p class="text-center mb-0"><a href="https://www.gs.hm.edu/" target="_blank">Studium Generale und Interdisziplinäre Studien</a></p>
        <p class="text-center mb-0"><a href="https://www.wi.hm.edu/" target="_blank">Wirtschaftsingenieurwesen</a></p>
    </div>
</div>

<div class="row justify-content-md-center" style="margin-bottom: 20px">
    <div class="col-sm-6 col-md-4">
        <div class="card text-center border-secondary">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="fas fa-2x fa-user-astronaut"></i><br />
                    Studieninteressierte
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Neue Welt Studium</h6>
                <p class="card-text">Modulkataloge, Eignungsprüfungen, Ansprechpartner</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card text-center border-secondary">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="fas fa-2x fa-user-graduate"></i><br />
                    Studierende
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Organisation  des Studienalltags</h6>
                <p class="card-text">Vorlesungsverzeichnisse, Wahlverfahren, persönlicher Stundenplan, </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card text-center border-secondary">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="fas fa-2x fa-chalkboard-teacher"></i><br />
                    Lehrende
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Gestaltung des Lehrbetriebs</h6>
                <p class="card-text">Terminverwaltung, Raumbelegung, Benachrichtigungen</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center" style="margin-bottom: 20px">
    <div class="col-sm-12 col-md-12">
        <div class="card text-center border-secondary">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="fas fa-2x fa-external-link-alt"></i><br />
                    Weitere Systeme
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Das ganze Universum</h6>
                <p class="card-text">Bewerbung, Noten, Unterlagen</p>
                <div class="text-center">
                    <a class="btn btn-outline-secondary" href="https://www3.primuss.de/cgi-bin/login/index.pl?FH=fhm" target="_blank">
                        <img src="@Url.Content("~/Assets/fillter/img/logo_small_primuss.png")" alt="primuss" />
                    </a>
                    <a class="btn btn-outline-secondary" href="https://moodle.hm.edu" target="_blank">
                        <img src="@Url.Content("~/Assets/fillter/img/moodlelogo.png")" alt="moodle" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


