@{
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";

    ViewBag.Title = "Hinweise zum Datenschutz";
}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <h3>Hinweise zum Datenschutz</h3>
            <p>Im Folgenden erläutern wir, welche Informationen wir erfassen und wie diese genutzt werden.</p>

            <h4>1. Personenbezogene Daten</h4>
            <p>Personenbezogene Daten sind Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. 
                Darunter fallen Informationen wie z. B. Ihr Name und Ihre E-Mail Adresse. 
                Darunter fallen auch personenbezogene Angaben, die sie innerhalb der Anwendung vornehmen, 
                z.B. die Eintragung in Lehrveranstaltungen und Sprechstunden.</p>

            <h4>2. Erhebung und Verarbeitung von personenbezogenen Daten</h4>
            <p>Wenn Sie unsere Webseiten besuchen, speichern unsere Webserver standardmäßig zum Zweck der Systemsicherheit temporär 
                die Verbindungsdaten des anfragenden Rechners, die Webseiten, die Sie bei uns besuchen, das Datum und die Dauer des Besuches, 
                die Erkennungsdaten des verwendeten Browser- und Betriebssystem-Typs sowie die Webseite, von der aus Sie uns besuchen.</p>
            <p>Diese Daten werden nicht mit anderen Daten verbunden und nach maximal 7 Tagen gelöscht. 
                Darüber hinausgehende personenbezogene Angaben wie Ihr Name oder Email-Adresse werden nicht erfasst, 
                es sei denn, diese Angaben werden von Ihnen im Rahmen der Registrierung, der Kontaktaufnahme oder der Meldung von Fehlern gemacht.</p>

            <h4>3. Einsatz von Cookies</h4>
            <p>Es werden folgende Cookies verwendet
                <ul>
                    <li>SessionId: in den nichtöffentlichen Seiten dient es zur Erkennung der Verbindung zum Browser. Die SessionId wird nach dem Schließen des Browsers gelöscht.</li>
                    <li>RequestVerficifactionToken: in Eingabeformularen dient es zur Absicherung der Verbindung. Schutz gegen "Cross-Site-Scripting"</li>
                    <li>Culture: Angabe der gewünschten Sprache</li>
                    <li>CookieNotification: Der Hinweis auf die Verwendung von Coockies soll nicht erneut angezeigt werden</li>
                </ul>
            </p>

            <h4>4. Nutzung und Weitergabe der personenbezogenen Daten</h4>
            <p>Die von Ihnen zur Verfügung gestellten personenbezogenen Daten verwenden wir ausschließlich zur Erfüllung Ihrer Wünsche und Anforderungen, 
                also zur Organisation des Lehrbetriebs. Eine Weitergabe Ihrer personenbezogenen Daten erfolgt nur innerhalb der Hochschule München. 
                Eine Übermittlung von personenbezogenen Daten, d.h. eine Weitergabe an Stellen außerhalb der Hochschule München findet nicht statt.</p>

            <h4>5. Datenspeicherun-/löschung</h4>
            <p>Die erfassten Daten werden in einer Datenbank gespeichert. 
               Sämtliche Ihrer Daten können von Ihnen selbst jederzeit eingesehen und gelöscht werden.</p>

            <h4>6. Sicherheit</h4>
            <p>Alle notwendigen technischen und organisatorischen Sicherheitsmaßnahmen, um Ihre personenbezogenen Daten vor Verlust und Missbrauch zu schützen, werden von uns getroffen.</p>
        </div>
    </div>
</div>
