@{
    ViewBag.Title = "Hinweise zum Datenschutz";
}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <h3>Datenschutzhinweise für den Studienorganisationsdienst „HMster“</h3>
            <p>Im Folgenden erläutern wir, welche Informationen wir erfassen und wie diese genutzt werden.</p>

            <h4>1. Verantwortlicher für die Datenverarbeitung</h4>
            <p>
                Hochschule für Angewandte Wissenschaften München<br />
                Lothstr. 34<br />
                D-80335 München<br />
                Tel.: +49 89 12 65 - 0<br />
                Fax: +49 89 12 65 - 3000<br />
                E-Mail: kommunikation@hm.edu<br />
                Internet: www.hm.edu
            </p>
            <p>
                Die Hochschule für angewandte Wissenschaften München ist eine Körperschaft des Öffentlichen Rechts. Sie wird durch ihren Präsidenten gesetzlich vertreten.
                Der behördliche Datenschutzbeauftragte der Hochschule München ist per E-Mail unter der Adresse datenschutzbeauftragter@hm.edu erreichbar.
            </p>

            <h4>2. Zweck der Datenverarbeitung  </h4>
            <p>
                HMster dient der Organisation von Lehrveranstaltungen und der Prozessumsetzung im Lehr- und Studienbetrieb.
                Die Verarbeitung personenbezogener Daten erfolgt unter anderem zum Zweck der Veröffentlichung von Modulbeschreibungen,
                Veranstaltungsterminen, Sprechstunden, zur Eintragung in Teilnahmelisten,
                zum Versand von Newslettern sowie zur Anmeldung von Abschlussarbeiten,
                zur Teilnahme an Auswahlverfahren und zur Erfassung und Weiterleitung von Alumni-Daten an  Stabsabteilung strategische Hochschulentwicklung.
            </p>

            <h4>3. Rechtsgrundlage der Verarbeitung</h4>
            <p>Die Verarbeitung Ihrer Daten erfolgt auf Grundlage von:</p>
            <ul>
                <li>Art. 6 Abs. 1 lit. a) DSGVO (Einwilligung) bspw. beim Eintragen von freiwilligen Angaben im Nutzerprofil, bei der Anmeldung zum Newsletter oder zum Erhalt von Nachrichten aus dem E-Mail-Verteiler (wenn es sich nicht um wichtige Nachrichten für das Studium handelt) oder bei Eintragungen in eine Teilnehmerliste von Lehrveranstaltungen.</li>
                <li>Art. 6 Abs. 1 lit. b) DSGVO (Vertragserfüllung), bspw. bei der Verwendung der erforderlichen Daten für die Erstellung des Nutzerkontos.</li>
                <li>Art. 6 Abs. 1 lit. e) DSGVO (Aufgabenerfüllung), bspw. bei Verwendung der Log-Daten oder der in HMster eingegebenen Informationen zu Lehr- und Studienzwecken (z.B. bei Anmeldung von Abschlussarbeiten, Teilnahme am Aufnahme- oder Wahlverfahren).</li>
            </ul>

            <h4>4. Kategorien personenbezogener Daten</h4>
            <p>
                Beim Anlegen eines Benutzerkontos werden E-Mail-Adresse, Passwort nach vorgegebenen Sicherheitsregeln sowie Vor- und Nachname erhoben. Im Zuge der Nutzung können zusätzlich weitere Daten wie Studiengang, Matrikelnummer und Organisationseinheit bei Lehrenden erhoben werden.
                Bei Aufnahmeverfahren können weitere Unterlagen wie Motivationsschreiben, Profilbild oder vorgegebene Anzahl von Werken mit Erläuterungen hochgeladen werden. Es erfolgt keine Speicherung von Ergebnissen der Aufnahmeverfahren.
                Bei platzbeschränkten Veranstaltungen gibt es für Studierende die Möglichkeit in einem Wahlverfahren sich für den Besuch der Veranstaltung in eine Warteliste einzutragen.
                Im Rahmen der Veröffentlichung von Studienplänen, Modulbeschreibungen und Stundenplänen werden personenbezogene Daten von Modulverantwortlichen und Dozenten verarbeitet.
                Die Lehrenden können in den eigenen Profilen darüber hinaus Angaben zu Sprechstunden machen.
                Bei der Erfassung der Alumnidaten umfassen die erforderlichen Angaben Name, Vorname, E-Mail-Adresse, Fakultät, Studiengang, Abschluss und Semester.
            </p>

            <h4>5. Empfänger der Daten</h4>
            <p>
                Zugang zu personenbezogenen Daten innerhalb der Hochschule bekommen ausschließlich solche Personen, die diese Daten zur Erfüllung ihrer dienstlichen Aufgaben benötigen (Lehrende, Administratoren). Es findet keine Weitergabe an Dritte statt, sofern dies nicht gesetzlich oder für den Betrieb der Software erforderlich ist (z.B. bei einer etwaigen Auftragsverarbeitung).
                Gegenwärtig werden die Anwendungsteile Grapevine und Morgue (ehem. NINE) von HMster auf den Servern vom Leibniz-Rechenzentrum der Bayerischen Akademie der Wissenschaften (LRZ) betrieben und es werden keine weiteren Auftragsverarbeiter   eingesetzt. Die auf der HMster-Webseite verlinkten weiteren Anwendungen (Fillter  , Jotter, Gallery, Gym. und Tickler)   werden ebenfalls auf Servern des LRZ innerhalb des dort zur Verfügung gestellten Dienstes GitLab gehostet und haben einen lesenden Zugriff auf die in der HMster-Datenbank eingetragenen Daten.
                Der Systemadministrator hat grundsätzlich Zugriff auf alle auf HMster gespeicherten Daten.
            </p>
            <p>
                Die Lehrenden bekommen eingeschränkte administrative Rechte zur Verwaltung von Lehrveranstaltungen, Studiengängen, Lehrenden, Studierenden, Prüfungen (Abschlussarbeiten), Newslettern und Vergabe von Rechten. Das von Studierenden angelegte Studienbuch ist für alle Lehrenden einsehbar.
            </p>
            <p>
                Die Lehrenden haben Zugriff auf die Teilnahmelisten der von ihnen betreuten Veranstaltung  en. Auf die Teilnahmelisten haben ferner die Modulverantwortlichen sowie weitere Personen mit administrativen Rechten Zugriff. Studierende haben in Bezug auf die Teilnahmelisten keine Sichtrechte.
                Sichtrechte in die Anmeldelisten   im Rahmen von Wahlverfahren haben nur die jeweiligen betreuenden Lehrenden , die Modulverantwortlichen sowie Personen mit administrativen Rechten. Studierende werden informiert, wenn ihre Teilnahme an einer platzbeschränkten Veranstaltung vonseiten der Lehrenden bestätigt wird.
                Die Mappen im Rahmen des Aufnahmeverfahrens können nur von Mitgliedern des jeweiligen vom Administrator angelegten Gremiums   eingesehen werden.
            </p>
            <p>
                Über den Mailverteiler werden die nach bestimmten Kriterien ausgewählten Nutzer informiert, wenn es sich aus der Sicht des Absenders   um eine besonders wichtige Nachricht für die jeweilige Nutzerkategorie handelt oder wenn die Nutzer im Benutzerprofil eine Einwilligung hierzu abgegeben haben. Die Einwilligung kann jederzeit im Benutzerprofil widerrufen werden.
                Die erfassten Alumnidaten werden regelmäßig durch eine Person mit administrativen Rechten exportiert, an die zentrale Alumniverwaltung gesendet und anschließend gelöscht.
                Die Logdaten werden auf dem für den Betrieb verwendeten LRZ-Servern  aufbewahrt.
            </p>
            <p>
                Ihre IP-Adresse wird von unserem Webserver für die Dauer von maximal sieben Tagen   nach Ihrem Besuch verarbeitet, um den sicheren und funktionsfähigen Betrieb der Website zu gewährleisten. Sie wird nur zur Gefahrenabwehr (bei Angriffen) sowie zur Verbesserung des Internetangebotes herangezogen und nicht an Dritte, weder zu kommerziellen noch zu nicht kommerziellen Zwecken, weitergegeben.
                Es werden nur die technisch notwendigen Cookies   gesetzt.
            </p>

            <h4>6. Speicherung und Löschung der Daten</h4>
            <p>
                Die personenbezogenen Daten werden solange gespeichert, wie es für die Erfüllung des mit dem Benutzerkonto verbundenen Zwecks notwendig ist.
                Nach Löschung des Benutzerkontos durch den Nutzenden (oder auf dessen Anfrage durch den Administrator), werden alle damit verbundenen personenbezogenen Daten des Nutzerkontos gelöscht, es sei denn, andere gesetzliche Aufbewahrungsfristen sind zu beachten.
                Nach der Löschung des Nutzerkontos bleiben die dazugehörigen Eintragungen   in Lehrveranstaltungen oder Newsletter   bestehen, lassen aber keine Rückschlüsse auf eine Person mehr zu. Diese anonymisierten Daten werden zu statistischen Zwecken herangezogen.
                Die Nutzerkonten werden ohne Mitwirkung der Nutzer gelöscht, wenn innerhalb von 365 Tagen kein Login erfolgt und auf eine Erinnerungs-E-Mail nicht fristgerecht reagiert wird.
                Nach Beendigung des Aufnahmeverfahrens  , in der Regel zu Beginn des Folgesemesters, werden die digitalen Mappen vom Systemadministrator exportiert, in HMster gelöscht und zur Archivierung an die zugehörige Fakultät  weitergeleitet. Die Alumnidaten werden nach dem Export und Weiterleitung an die Stabsabteilung strategische Hochschulentwicklung ebenfalls gelöscht.
                Alle Nutzer können sich selbstständig in Newsletter ein- und austragen    .
            </p>
            <p><strong>Nutzer können ihr Nutzerkonto selbstständig  löschen.</strong></p>
            <h4>7. Betroffenenrechte</h4>
            <p>
                Nach der Datenschutz-Grundverordnung stehen Betroffenen folgende Rechte zu:
            </p>

            <ul>
                <li>Werden personenbezogene Daten verarbeitet, so haben Betroffene das Recht, Auskunft über die zu ihrer Person gespeicherten Daten zu erhalten (Art. 15 DSGVO).</li>
                <li>Sollten unrichtige personenbezogene Daten verarbeitet werden, steht ein Recht auf Berichtigung zu (Art. 16 DSGVO).</li>
                <li>Liegen die gesetzlichen Voraussetzungen vor, so können Betroffene die Löschung oder Einschränkung der Verarbeitung verlangen (Art. 17, 18 DSGVO).</li>
                <li>Wenn in die Datenverarbeitung eingewilligt wurde oder wenn ein Vertrag zur Datenverarbeitung besteht und die Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Betroffenen gegebenenfalls ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).</li>
                <li>Betroffene haben das Recht, ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt (Art. 7 DSGVO).</li>
                <li>Betroffenen steht das Recht zu, Auskunft darüber zu verlangen, ob eine automatisierte Entscheidungsfindung einschließlich Profiling besteht (Art. 22 DSGVO).</li>
                <li>Betroffene haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung ihrer Daten Widerspruch einzulegen, wenn die Verarbeitung ausschließlich auf Grundlage des Art. 6 Abs. 1 UAbs. 1 lit. e oder f DSGVO erfolgt (Art. 21 Abs. 1 Satz 1 DSGVO).</li>
            </ul>
            <p>
                Sollte von den oben genannten Rechten Gebrauch gemacht werden, prüft die öffentliche Stelle, ob die gesetzlichen Voraussetzungen hierfür erfüllt sind.
                Weiterhin besteht ein Beschwerderecht bei einer Aufsichtsbehörde. Die für die Hochschule München zuständige Behörde ist der Bayerische Landesbeauftragte für den Datenschutz.
                Dieser ist unter folgenden Kontaktdaten erreichbar:
            </p>
            <p>
                <strong> Postanschrift:</strong><br/>
                Postfach 22 12 19<br />
                80502 München<br />
                <strong>Adresse:</strong><br />
                Wagmüllerstraße 18<br />
                80538 München<br />

                Tel.: +49 89 212672 - 0<br />
                Fax: +49 89 212672 - 50<br />

                E-Mail: poststelle@datenschutz-bayern.de<br />
                Internet: https://www.datenschutz-bayern.de/

            </p>
            <h4>Sonstiges zu unserer Datenschutzerklärung</h4>
            <p>
                Die Hochschule München behält sich vor, diese Datenschutzerklärung gelegentlich anzupassen, damit diese stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen der Leistungen in der Datenschutzerklärung umzusetzen, z. B. bei der Einführung neuer Services. Für einen erneuten Besuch der Webseiten gilt dann die neue Datenschutzerklärung.
            </p>
            <p>
                Bei Fragen können sich Interessierte vertrauensvoll an den Datenschutzbeauftragen (datenschutzbeauftragter@hm.edu) wenden oder auch eine E-Mail schreiben an: support-nine@hm.edu    .
            </p>
        </div>
    </div>
</div>
