
@{
    // Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Nutzungsbedingungen";
}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <h3>Allgemeine Nutzungsbedingungen</h3>
            <h4>Teilnahme am Lehrprojekts „shortcut“</h4>
            <p>
                Die nachstehenden Regelungen gelten für alle Teilnehmerinnen und Teilnehmer des Lehrprojekts „shortcut“. Innerhalb des Lehrprojekts „shortcut“ werden innovative Werkzeuge des digitalen Lernens und Lehrens entwickelt und im Hinblick auf eine Verbesserung des Lehrbetriebs im praktischen Einsatz erprobt.
            </p>
            <p>
                Als Teilnehmerinnen und Teilnehmer des Lehrprojekts „shortcut“ gelten alle Nutzerinnen und Nutzer der angebotenen Informationssysteme sowie Studierende und Lehrende der zugehörigen kompetenzorientierten, interdisziplinären Lehrveranstaltungen.
            </p>
            <p>
                Die Lernziele des Lehrprojektes „shortcut“ umfassen alle Aspekte des Entwurfs, der Umsetzung, des Betriebs und der Nutzung soziotechnischer Systeme, z.B.:
            </p>
            <ul>
                <li>Erlernen von Methoden und Technologien der Software- und Systementwicklung</li>
                <li>Anwenden von (agilen) Methoden des Projektmanagements</li>
                <li>Erleben von Entwurfsmethoden (Design Thinking) sowie Aspekten des Kommunikationsdesigns (LeanUX)</li>
                <li>Diskussion und Reflexion von sozialen und rechtlichen Aspekten (z.B. aus dem Gebiet des Datenschutzes) der Nutzung von Informationssystemen, z.B. Möglichkeiten der Datenauswertung</li>
                <li>Verstehen der komplexen Zusammenhänge zwischen Entwicklung und Betrieb von Informationssystemen (DevOps)</li>
            </ul>
            <p>
                Das Verzeichnis der semesterweise angebotenen Lehrveranstaltungen befindet auf den <a href="https://mahara.hm.edu/view/view.php?id=16789">Webseiten des Lehrprojekts „shortcut“</a>.
            </p>
            <p>
                Durch die Nutzung der Informationssysteme werden die oben genannten Lernziele unterstützt, z.B. die Aufzeichnung von Nutzungsstatistiken (siehe weiter unten). Nutzerinnen und Nutzer haben darüber hinaus Möglichkeiten der aktiven Beteiligung, z.B. durch Meldung von Störungen, Programmfehlern sowie Verbesserungsvorschläge.
            </p>
            <h4>Teilnahme am Informationssystem NINE</h4>
            <p>Das Informationssystem NINE unterstützt Lehrende bei der Organisation des operativen Lehrbetriebs und dient damit unmittelbar zur Erfüllung des öffentlichen Auftrags einer staatlichen Hochschule. Der Funktionsumfang des Informationssystems NINE besteht aus</p>
            <ul>
                <li>der Verwaltung der Termine von Lehrveranstaltungen (Datum, Uhrzeit, Titel, Raum, Dozierende),</li>
                <li>der Verwaltung von Sprechstundenterminen</li>
                <li>der Verwaltung von E-Mail Verteilerlisten zu Lehrveranstaltungen, Sprechstunden sowie Gruppen von Studierenden auf Basis von Studiengängen und Semestergruppen,</li>
                <li>der Bekanntmachung von Ausschreibungen mit Bezug zum Studium, z.B. Stipendien, Praxissemester, Abschlussarbeiten</li>
                <li>der Durchführung von Wahlverfahren, z.B. für Wahlpflichtveranstaltungen</li>
                <li>der aktenkundigen Ausgabe von Abschlussarbeiten,</li>
            </ul>
            <p>jeweils zum Nutzen der Studierenden. Die Verbesserung der operativen Rahmenbedingungen für Studierende umfasst</p>
            <ul>
                <li>die Zusammenstellung eines persönlichen Stundenplans,</li>
                <li>den Erhalt individueller Nachrichten, z.B. bei Terminverschiebungen,</li>
                <li>die Vereinfachung von operativen Abläufen, z.B. Wahlverfahren, Sprechstundentermine, Abschlussarbeiten</li>
            </ul>
            <h3>Öffentlich zugängliche Informationen</h3>
            <p>Das Vorlesungsverzeichnis ist öffentlich zugänglich. Eine Registrierung und Anmeldung zur Informationsbeschaffung ist nicht erforderlich (siehe Abschnitt "Freiwliigkeit").</p>
            <h3>Anmeldung und Registrierung</h3>
            <p>Für den Zugang zu NINE ist eine einmalige Registrierung erforderlich. Im Zuge der Registrierung muss eine E-Mail Adresse als Benutzername angegeben werden. Weitere zwingende Angaben sind Vor- und Nachname sowie ein selbtsgewähltes Passwort.</p>
            <p>Im Rahmen der Registrierung werden E-Mail Adresse, Passwort, Vor- und Zuname als Basisdaten gespeichert.</p>
            <p><strong>Ausnahme:</strong> Zur Vereinfachung operativer Abläufe können Studierende zur Nutzung der Informationssysteme eingeladen werden. Die Einladungen werden auf Grund von Interessensbekundigungen der betroffenen Studierenden ausgesprochen, z.B. Bewerber zu Studiengängen im Weiterbildungsbereich, imnternationale Studierende.</p>
            <h3>Freiwilligkeit</h3>
            <p>Die Nutzung der Informationssysteme ist grundsätzlich freiwillig. Es wird unterstellt, dass eine Nutzung der Informationssysteme für die Nutzerinnen und Nutzer grundsätzlich vorteilhaft ist. Die Auseinandersetzung mit etwaigen Konfliktfällen ist Bestandteil der Lernziele des Lehrprojekts „shortcut“. Ansprechpartner hier ist der Projektleiter <a href="https://www.wi.hm.edu/dozenten/hinz/index.de.html">Prof. Dr.-Ing. Olav Hinz</a>.</p>
            <h4>Besonderheiten für Lehrende</h4>
            <p>Die Veröffentlichung von Vorlesungsverzeichnissen mit Angabe von Informationen zu Lehrveranstaltungsterminen (Titel, Datum, Uhrzeit, Raum, Name(n) der Dozentinnen und Dozenten) wird als zumutbar angesehen.</p>
            <p>Das Aussprechen einer Verpflichtung zur Eintragung in Lehrveranstaltungen durch Studierende ist grundsätzlich unzulässig. Sie kann aus didaktischen Gründen zur Herstellung eines möglichst ausgewogenen Betreuungsverhältnisses als verpflichtender Bestand in Wahl- und Wahlpflichtfächern eingesetzt werden, soweit ausreichend alternative Angebote vorhanden sind.</p>
            <h4>Besonderheiten für Studierende, Studieninteressierte und Gäste</h4>
            <p>Die Angabe von Kontaktdaten bei Eintragung in Sprechstundentermine von Lehrenden kann als zumutbar angesehen werden.</p>
            <h3>Allgemeine Pflichten der Nutzer</h3>
            <p>Mit der Registrierung wird den Nutzerinnen und Nutzern ein einfaches, nicht übertragbares Nutzungsrecht für die Informationssysteme eingeräumt. Den Nutzerinnen und Nutzern zur Verfügung gestellte Speicherplatz darf ausschließlich zur Abspeicherung der erstellten Inhalte genutzt werden. Alle Nutzerinnen und Nutzer sind verpflichtet, die Ihnen zugänglichen Daten anderer Nutzerinnen und Nutzer streng vertraulich zu behandeln und diese grundsätzlich nicht ohne die schriftliche Einwilligung der Betroffenen an Dritte weiterzugeben. Dies gilt insbesondere für die Namen und E-Mail-Adressen anderer im System registrierter Nutzerinnen und Nutzer. Diese Informationssysteme dienen ausschließlich der Organisation des Lehrbetriebs an Fakultäten der Hochschule München sowie wie der Kommunikation zwischen Lernenden und Lehrenden. Jede anderweitige Nutzung der Plattform, z.B. für sonstige private und/oder gewerbliche Zwecke, ist nicht zulässig. Alle Nutzerinnen und Nutzer sind verpflichtet, die gesetzlichen Bestimmungen, insbesondere die Bestimmungen des Urheberrechts und des Datenschutzes einzuhalten. Wenn Nutzer Links auf externe Internetseiten setzen, müssen sie vorab sicherstellen, dass die verlinkten externen Webseiten keine rechtswidrigen Inhalte haben. Grundsätzlich ist es allen Nutzerinnen und Nutzern der Informationssysteme untersagt</p>
            <ul>
                <li>Daten unbefugt zu verändern, zu löschen, zu unterdrücken, unbrauchbar zu machen und/oder sie anders als ihrem bestimmungsgemäßen Gebrauch entsprechend zu verwenden.</li>
                <li>insbesondere Material verfassungswidriger Organisationen bzw. deren Gedankengut zu verbreiten.</li>
                <li>verletzende, beleidigende oder verleumderische Aussagen über andere zu tätigen.</li>
                <li>das Ansehen der Hochschule München zu schädigen.</li>
            </ul>
            <h3>Datenschutz</h3>
            <p>Alle im Rahmen der Anmeldung und Registrierung erhobenen persönlichen Daten der Teilnehmer werden entsprechend der geltenden gesetzlichen Datenschutzbestimmungen verarbeitet. Dies gilt auch für die systembedingt notwendige, zeitlich befristete Speicherung von individuellen Verbindungsdaten zum Informationssystem.</p>
            <p>Die für den Betrieb der Informationssysteme erforderlichen technischen Einrichtungen (Server) befinden sich an der Hochschule München sowie dem LRZ.</p>
            <h4>Art der gespeicherten Daten</h4>
            <p>Neben den Basisdaten werden ab dem zeitpunkt der Registrierung von den Teilnehmerinnen und Teilnehmehmern freiwillig eingegebene und/oder bei der Nutzung anfallende Daten, die sogenannten Nutzungsdaten, gespeichert. Nutzungsdaten umfassen</p>
            <ul>
                <li>Eintragungen in Lehrveranstaltungen und Sprechstundentermine mit Angabe von Datum und Uhrzeit</li>
                <li>Vergabe von Prioritäten bei Wahlverfahren</li>
            </ul>
            <h4>Weitergabe von Daten</h4>
            <p>Zu organisatorischen Zwecken dürfen Lehrende Teilnehmerlisten der eigenen Lehrveranstaltungen und Sprechstundentermine herunterladen. Diese Teilnehmerlisten enthalten Vor- und Nachname sowie Zusatzinformationen, z.B. Datum einer Eintragung, Zuordnung zu einer Semestergruppe. In Teilnehmerlisten sind keine E-Mail Adressen verwendet.</p>
            <h4>Cookies</h4>
            Im öffentlich zugänglichen Bereich wird zur Speicherung der gewählten Sprache ein Cookie verwendet. Im nicht-öffentlichen Bereich wird zusätzlich ein temporärer Coockie zur Verwaltung der Verbindung (Session-Coockie) verwendet.
            <h4>Löschen von Daten</h4>
            <p>Jeder registrierte Teilnehmer kann seinen kompletten Datenbestand aus Basis und Nutzdaten selbstständig löschen.</p>
            <p>Inaktive Benutzerkonten werden regelmäßig überprüft. Ist die im Benutzerkonto hinterlegte E-Mail Adresse nicht mehr erreichbar, wird das Benutzerkonto automatisch gelöscht.</p>
            <hr />
            <p>Zuletzt geändert: Dienstag, 01. Juni 2018, 10:00 Uhr</p>
        </div>
    </div>
</div>


