
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestLab</title>
    <link href="~/Content/fillter.css" rel="stylesheet" type="text/css" />
</head>
<body class="login">
<div class="fillter-logo">
    <img src="~/Content/images/logo.svg" width="80px" height="auto"/>
    <img src="~/Content/images/logoName.svg" width="80px" height="auto"/>
</div>

    <a href="http://localhost:1567/api/Activity/GetPersonalDates?UserId=10262a0f-88f5-4f60-83b2-4cb65d47106c">test stundenplan</a>
</body>
</html>
