@{
    ViewBag.Title = "Startseite";
}

<div class="row">
    <div class="jumbotron">
        <div class="pull-right"><img src="https://upload.wikimedia.org/wikipedia/de/thumb/e/e8/Hochschule_Muenchen_Logo.svg/320px-Hochschule_Muenchen_Logo.svg.png" alt="HS München" style="width:200px;height:90px;"> </div>
        <br>
        <h1>WI-Quest</h1>
        <h4><strong>Herzlich willkommen zum Studien-Orientierungstest für den Bachelorstudiengang Wirtschaftsingenieurwesen<br>an der Hochschule München.</strong></h4>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Wir freuen uns sehr, dass Sie das Angebot unseres Orientierungstests zum Studium des Wirtschaftsingenieurwesens wahrnehmen wollen.</p>
            <p>Die folgenden Fragen und der beinhaltete Informationsteil sind als Hilfestellungen gedacht, um Sie bei der Wahl Ihres Studiums zu unterstützen. Bitte verstehen Sie den Orientierungstest als eine von vielen Möglichkeiten, um sich über das Studium des Wirtschaftsingenieurwesens zu informieren und die Frage zu beantworten, ob der Studiengang zu Ihnen passt.</p>
            <p>Die abschließende Einschätzung aufgrund der Ergebnisse des Tests soll Ihnen Ihre Stärken und Schwächen bezüglich der befragten Themengebiete aufzeigen und insbesondere eine Rückmeldung darauf geben, wie wir Ihre Voraussetzungen für den erfolgreichen Start in das Studium sehen.</p>
            <p>Wenn wir Ihnen aufgrund der Ergebnisse das Studium empfehlen bedeutet dies lediglich, dass Sie sehr gute Voraussetzungen für einen erfolgreichen Abschluss des Studiums mitbringen. Die Empfehlung ist kein Garant für einen erfolgreichen Abschluss! Umgekehrt bedeutet ein Testergebnis, das Zweifel an Ihren Voraussetzungen, Ihrem Wissen und Ihren Fähigkeiten nahe legt nicht, dass Sie das Studium nicht erfolgreich absolvieren können. Dennoch empfehlen wir Ihnen in diesem Fall ein Beratungsgespräch mit der Studienberatung der Hochschule.</p>
            <p>Bitte bearbeiten Sie das Selbsteinschätzungsverfahren ohne fremde Hilfe und ehrlich. Nur dann ist das Ergebnis aussagekräftig und für Ihre Entscheidungsfindung hilfreich. Nutzen Sie diese Chance für eine persönliche Stärken- und Schwächeanalyse.</p>
            <p>Der Test dauert je nach Bearbeitungstempo 60 bis 90 Minuten.</p>
            <p>Die Daten werden anonym und nach den Richtlinien des Datenschutzgesetzes behandelt. Einen personenbezogen Speicherung wir nicht vorgenommen. Für eine Analyse der Daten zu Zwecken der Verbesserung unserer Studienberatung und Studieneingangsphase benötigen wir jedoch einige allgemeine Informationen.</p>
            <p><a href="@Url.Action("Information_Page", "Home", new {area = "Quest"})" class="btn btn-info btn-lg">Test starten &raquo;</a>

        </div>

    </div>
</div>


    <div class="row">
        <div class="col-md-3">
            <h2>Was ist WI?</h2>
            <p>
                Inhalte des Studiengangs etc.
            </p>
            <p><a class="btn btn-default" href="http://wi.hm.edu">mehr &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Was ist die HM?</h2>
            <p>Infos zur HM.</p>
            <p><a class="btn btn-default" href="http://hm.edu">mehr &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Nur für Admins</h2>
            <p>Eingabe der Fragenkataloge.</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Home", new { area = "Admin" })">zum Eingang &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Nur für Profs</h2>
            <p>Auswertungen</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Analyse", new { area = "Quest" })">zum Eingang &raquo;</a></p>
        </div>
    </div>
