@model ICollection<MyStik.TimeTable.Data.CoursePlan>
@{
    ViewBag.Title = "Studienverlauf";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">

        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-calendar"></i> Meine Pläne
                    </h4>
                </div>
                <div class="list-group">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-cogs"></i> Verwaltung
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Create")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Neuen Plan anlegen
                        </h5>
                        <p class="list-group-item-text">
                            <strong>Hinweis</strong>: Es kann hier ein beliebiger Studiengang gewählt werden.
                        </p>
                    </a>
                    <div class="list-group-item list-group-item-danger">
                        <h5 class="list-group-item-heading">Warnung</h5>
                        <p>Die hier von Ihnen erstellten persönlichen Studienpläne werden in der zentralen Datenbank des Systems abgelegt. Weitere Informationen finden Sie hier (Link auf öffentliche Shortcut-Seite)</p>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

