@model MyStik.TimeTable.Web.Models.CurriculumViewModel

@if (Model.SemesterGroups.Any())
{
    foreach (var group in Model.SemesterGroups)
    {
        <option value="@group.Id">@group.GroupName</option>
    }
}
else
{
    <option value="@Guid.Empty">Keine Stundenplandaten vorhanden</option>
}
