@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = "Milestones";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="row">
            <div class="col-md-12">
                <h1>Meilensteine @Model.Name</h1>
            </div>
        </div>
    </div>
</div>

