
@{
    ViewBag.Title = "Invitation";
}

<h2>Nur zum testen - es wird nichts gespeichert</h2>

@using (Html.BeginForm("Invitation", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <fieldset>
        <div class="form-group">
            <label class="col-md-2 control-label">Datei mit CIE-Daten</label>
            <div class="col-md-10">
                <div>
                    <input type="file" name="Attachments" id="Attachment1" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Hochladen" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}


<h2>Importieren mit Speichern</h2>

@using (Html.BeginForm("Import", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <fieldset>
        <div class="form-group">
            <label class="col-md-2 control-label">Datei mit CIE-Daten</label>
            <div class="col-md-10">
                <div>
                    <input type="file" name="Attachments" id="Attachment1" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Hochladen" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}
