@model MyStik.TimeTable.Data.Student
@{
    ViewBag.Title = "ChangeLabel";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Meine Interessen</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Bisher festgelegt</h5>
                        <div class="list-group">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            <p>Mit "Interessen" sind in der Regel organistorische Aspekte des Studiengangs gemeint, z.B. Studiengruppen, Studienrichtungen, Schwerpunkte und hochschulweite Angebite wie "Courses in English".</p>
                            <p>Die Angaben werden unter Umständen bei der Vergabe von Plätzen in zugangsbeschränkten Lehrveranstaltungen verwendet.</p>
                            <p>Vor diesem Hintergrund sind Änderungen nur eingeschränkt möglich.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
