@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Module";
}


<div class="@containerType">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-tag"></i> Module</h4>
                </div>
                <div class="list-group">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-info">
                            <h5 class="list-group-item-heading">Hinweis</h5>
                            <div class="list-group-item-text">Hier soll es einmal möglich sein, nach Modulen zu suchen.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
