@model ICollection<MyStik.TimeTable.Web.Models.SemesterGroupViewModel>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Die Mail soll an folgende Gruppen gesendet werden
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Anzahl Studierende</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var nStud = 0;
                                }
                                @foreach (var group in Model.Where(g => g.Group.CapacityGroup != null).OrderBy(g => g.Group.CapacityGroup.CurriculumGroup.Curriculum.Name).ThenBy(g => g.Group.CapacityGroup.CurriculumGroup.Name).ThenBy(g => g.Group.Name))
                                {
                                    nStud += group.UserIds.Count;

                                    <tr>
                                        <td>@group.Group.FullName</td>
                                        <td>
                                            @group.UserIds.Count
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td><strong>@nStud</strong></td>
                                </tr>
                            </tbody>
                        </table>




                        <a class="btn btn-default" id="send" href="@Url.Action("StudentGroupMail")"><i class="fa fa-save"></i> Auswahl bestätigen. Weiter zur Eingabe der Nachricht</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

