@model MyStik.TimeTable.Web.Models.SemesterOverviewModel

@{
    var nStud = 0;
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <h4 class="panel-heading">
                <i class="fa fa-calendar"></i> Semestergruppen im @Model.Semester.Name
            </h4>
            <div class="panel-body">
                <div id="groupTable">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var group in Model.SemesterGroups)
                        {
                            <tr>
                                <td><input id="@group.Group.Id" type="checkbox" onclick="toggleDateCheck(this)" value=""></td>
                                <td>@group.Group.FullName</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <a id="btnNext" class="btn btn-default disabled" id="send" href="javascript:onSend()"><i class="fa fa-save"></i> Auswahl speichern und weiter</a>
                </div>
            </div>
        </div>
    </div>
</div>


