@{
    ViewBag.Title = "Mailing";
    var orgName = ViewBag.Organiser.ShortName;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h1>Mailing für @orgName</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <h4>Änderung der Verteiler - wichtiger Hinweis</h4>
                <p>Bisher mussten Studierende jedes Semester eine Semestergruppe wählen. Das führte zu Missverständnissen bei Teilzeitstudierenden, Urlaubssemestern 
                    und sonstigen Situationen, die nicht exakt nach Studienplan laufen. Darüber hinaus haben Studierende oftmals diese Wahl aus taktischen Gründen 
                    geändert, z.B. um bei "zugangsbeschränkten Lehrveranstaltungen" sich Vorteile zu verschaffen.</p>
                <p>Seit Juli 2018 müssen Studierende einmalig Studiengang und Semester des Studienbeginns angeben. Diese Angabe können Studierende nicht mehr 
                    selbstständig ändern, sondern nur auf Anfrage bei den jeweiligen Administratoren.</p>
                <p>Damit muss die Zugehörigkeit eiens Studierenden zu einer Semestergruppe neu definiert werden. Es wird die Eintragung in Lehrveranstaltungen herangezogen. 
                    Mit anderen Worten: "Jeder, der sich in Lehrveranstaltungen des ersten Semester eingetragen hat, gilt als Erstsemester".</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    E-Mail Verteiler "Alle Studierenden"
                </div>
                <div class="panel-body">
                    <h4>Hinweise</h4>
                    <p>Die Mail geht an</p>
                    <ul>
                        <li>Benutzer mit Status "Student", die sich in einen Studiegang der @orgName eingetragen haben.</li>
                    </ul>
                    <p><strong>Wichtig:</strong> Es erhalten nur jene Benutzer eine E-Mail, die dies in ihrem Benutzerprofil aktiviert haben.</p>

                    <a href="@Url.Action("AllStudents")" class="btn btn-lg btn-primary"><i class="fa fa-envelope fa-2x"></i> Alle Studierenden (@orgName)</a>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    E-Mail Verteiler "Semestergruppen"
                </div>
                <div class="panel-body">
                    <h4>Hinweise</h4>
                    <p>Die Mail geht an</p>
                    <ul>
                        <li>Benutzer mit Status "Student", die sich <strong>in Lehrveranstaltungen</strong> der ausgewählten Semestergruppe der @orgName eingetragen haben.</li>
                        <li>Im nächsten Schritt können Semestergruppen auch vergangener Semester ausgwählt werden.</li>
                    </ul>
                    <p><strong>Wichtig:</strong> Es erhalten nur jene Benutzer eine E-Mail, die dies in ihrem Benutzerprofil aktiviert haben.</p>

                    <a href="@Url.Action("StudentGroup")" class="btn btn-lg btn-primary"><i class="fa fa-envelope fa-2x"></i> Gruppe von Studierenden (@orgName)</a>

                </div>
            </div>
        </div>
    </div>
</div>


