
@{
    ViewBag.Title = "InvalidModel";
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h1>Fehlerhafte / Unvollständige Eingabe</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-back"></i> Zurück zur Startseite Mailing</a>
        </div>
    </div>
</div>

