@{
    ViewBag.Title = "Mail versendet";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mailversand erfolgreich</h5>
                <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary"><i class="bi bi-grid"></i> zum Dashboard</a>
            </div>
        </div>
    </div>
</div>
