@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Mail versendet";
}

<h2>Mailversand fehlgeschlagen</h2>

<p>Bei der Auslieferung der Mails ist ein Fehler aufgetreten. Zur Nachverfolgung senden Sie bitte eine E-Mail an: nine (at) wi.hm.edu</p>


