@model ICollection<MyStik.TimeTable.Web.Models.ApplicationUser>
@{
    ViewBag.Title = "ReceiverList";
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h1>Mailing - alle Studierende</h1>
            </div>
        </div>
    </div>
</div>

<h2>Mailversand erfolgreich</h2>





<p>@Html.ActionLink("Zurück", "Index", "Mailing")</p>

