@model MyStik.TimeTable.Web.Models.ThesisExamCreateModel
@{
    ViewBag.Title = "CreateThesis";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Abschlussarbeit erfassen: @Model.</h1>
                </div>
            </div>
        </div>
    </div>
</div>


