
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Prüfungen <small>im Aufbau [DEMO]</small></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <p>Hier entsteht eine Seite für alles rund um das Thema Prüfungen. Und dazu gehört auch die eigene Abschlussarbeit!</p>
            </div>
        </div>
    </div>
</div>



